{% extends "base.html" %}

{% load static from staticfiles %}
{% load url from future %}

{% block post_header %}
<div class="notification">
    Thank you for pledging vote!
</div>
{% endblock %}

{% block content %}​
<div class="blackbar">
    <div class="title">Help your friends vote!</div>
    <div class="text"><strong class="primary"><span>99</span></strong> voted and <strong class="primary"><span>47</span></strong> pledged out of <strong><span>1,450</span></strong> friends</div>
</div>
<div class="boxes">
    <div class="box cf">
        <div class="friends">
            <img src="http://www.placehold.it/32x32" />
            <img src="http://www.placehold.it/32x32" />
            <img src="http://www.placehold.it/32x32" />
            <img src="http://www.placehold.it/32x32" />
            <img src="http://www.placehold.it/32x32" />
            <img src="http://www.placehold.it/32x32" />
            <img src="http://www.placehold.it/32x32" />
            <img src="http://www.placehold.it/32x32" />
            <img src="http://www.placehold.it/32x32" />
            <img src="http://www.placehold.it/32x32" />
            <img src="http://www.placehold.it/32x32" />
            <img src="http://www.placehold.it/32x32" />
            <img src="http://www.placehold.it/32x32" />
            <img src="http://www.placehold.it/32x32" />
            <img src="http://www.placehold.it/32x32" />
            <img src="http://www.placehold.it/32x32" />
            <img src="http://www.placehold.it/32x32" />
            <img src="http://www.placehold.it/32x32" />
            <img src="http://www.placehold.it/32x32" />
        </div>
        <div class="text">
            <h2>Barely Legal</h2>
            <p>Cupcake ipsum dolor. Sit amet candy canes. Liquorice apple pie sweet gummies I love croissant fruitcake. Cheesecake wypas lemon drops halvah chocolate biscuit soufflé applicake. </p>
            <a href="#" class="btn  btn-large btn-green"><i class="icon-ok"></i> Register them</a>
        </div>
    </div>
    <div class="box cf">
        <div class="friends">
            <img src="http://www.placehold.it/32x32" />
            <img src="http://www.placehold.it/32x32" />
            <img src="http://www.placehold.it/32x32" />
            <img src="http://www.placehold.it/32x32" />
            <img src="http://www.placehold.it/32x32" />
            <img src="http://www.placehold.it/32x32" />
            <img src="http://www.placehold.it/32x32" />
            <img src="http://www.placehold.it/32x32" />
            <img src="http://www.placehold.it/32x32" />
            <img src="http://www.placehold.it/32x32" />
            <img src="http://www.placehold.it/32x32" />
            <img src="http://www.placehold.it/32x32" />
            <img src="http://www.placehold.it/32x32" />
            <img src="http://www.placehold.it/32x32" />
            <img src="http://www.placehold.it/32x32" />
            <img src="http://www.placehold.it/32x32" />
            <img src="http://www.placehold.it/32x32" />
            <img src="http://www.placehold.it/32x32" />
            <img src="http://www.placehold.it/32x32" />
        </div>
        <div class="text">
            <h2>Barely Legal</h2>
            <p>Cupcake ipsum dolor. Sit amet candy canes. Liquorice apple pie sweet gummies I love croissant fruitcake. Cheesecake wypas lemon drops halvah chocolate biscuit soufflé applicake. </p>
            <a href="#" class="btn  btn-large btn-green"><i class="icon-ok"></i> Register them</a>
        </div>
    </div>
</div>​​​​​​
{% endblock %}