Django==1.4
South==0.7.5
facebook-sdk==0.3.2
django-celery==3.0.10
gunicorn==0.14.3
pytz==2012d
requests==0.14.0
newrelic==1.5.0.103
django-rosetta==0.6.8
django-heroku-memcacheify==0.3
PIL==1.1.7
easy-thumbnails==1.1
