Django==1.4
South==0.7.5
dj-database-url==0.2.0
psycopg2==2.4.5
gunicorn==0.14.3
boto==2.4.1
django-storages==1.1.4
facebook-sdk==0.3.2
django-celery==3.0.10
pytz==2012d
requests==0.14.0
newrelic==1.5.0.103
django-heroku-sendgridify==0.1.1
django-rosetta==0.6.8
django-heroku-memcacheify==0.3
pylibmc==1.2.3
PIL==1.1.7
easy-thumbnails==1.1
