@font-face {
    font-family: 'BebasNeueRegular';
    src: url('../font/BebasNeue-webfont.eot');
    src: url('../font/BebasNeue-webfont.eot?#iefix') format('embedded-opentype'),
    url('../font/BebasNeue-webfont.woff') format('woff'),
    url('../font/BebasNeue-webfont.ttf') format('truetype'),
    url('../font/BebasNeue-webfont.svg#BebasNeueRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: local('Montserrat Regular'), local('Montserrat-Regular'), url(http://themes.googleusercontent.com/static/fonts/montserrat/v2/zhcz-_WihjSQC0oHJ9TCYBsxEYwM7FgeyaSgU71cLG0.woff) format('woff');
}


.cf:before,
.cf:after {
    content: ""; /* 1 */
    display: table; /* 2 */
}
.cf:after {
    clear: both;
}
.cf {
    *zoom: 1;
}

html {
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top,  #ffffff 20%, #b1b8cb 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(20%,#ffffff), color-stop(100%,#b1b8cb)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ffffff 20%,#b1b8cb 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ffffff 20%,#b1b8cb 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ffffff 20%,#b1b8cb 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #ffffff 20%,#b1b8cb 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#b1b8cb',GradientType=0 ); /* IE6-9 */
}

body {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 15px;
    background: transparent url(../img/body-back.png) 0 116px no-repeat;
    min-height: 900px;
   padding-bottom: 300px;
}

a {
    color:#3f5b9a;
    text-decoration: underline;
}

.inner{
    width: 710px;
    margin: 0 auto;
}

header {
    height: 184px;
    background: #003168 url(../img/header/tile.png);
    position: relative;
}

header:after {
    position: absolute;
    bottom: -1px;
    width: 100%;
    height: 8px;
    content: " ";
    background: rgb(255,232,93);
    background: -moz-linear-gradient(top,  rgba(255,232,93,1) 0%, rgba(249,203,29,1) 70%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,232,93,1)), color-stop(70%,rgba(249,203,29,1)));
    background: -webkit-linear-gradient(top,  rgba(255,232,93,1) 0%,rgba(249,203,29,1) 70%);
    background: -o-linear-gradient(top,  rgba(255,232,93,1) 0%,rgba(249,203,29,1) 70%);
    background: -ms-linear-gradient(top,  rgba(255,232,93,1) 0%,rgba(249,203,29,1) 70%);
    background: linear-gradient(to bottom,  rgba(255,232,93,1) 0%,rgba(249,203,29,1) 70%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffe85d', endColorstr='#f9cb1d',GradientType=0 );
    -webkit-box-shadow:  0px 1px 2px 0px rgba(0, 0, 0, 0.5);
    box-shadow:  0px 1px 2px 0px rgba(0, 0, 0, 0.5);
    z-index: 2;
}

header .logo{
    width: 200px;
    float: left;
    height: 184px;
    background: url(../img/header/fleur.png) no-repeat 4px 17px;
}
    header .logo h1{
        background: url(../img/header/logo.png) no-repeat;
        text-indent: -999em;
        overflow: hidden;
        width: 140px;
        height: 103px;
        margin: 18px auto 0;
    }
    header .logo p{
        font: 12px/1.34 Montserrat, Helvetica, Arial, "Lucida Grande", sans-serif;
        color: #fbda39;
        text-align: center;
        margin: 10px 0 0;
    }


header .score{
    float: right;
    width: 290px;
    background: #FFF url(../img/header/bg.png) no-repeat top;
    margin-top: 25px;
    padding: 17px 10px 15px 110px;
    position: relative;
    -webkit-box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.4);
}
    header .score:before{
        content: url(../img/header/paperclip.png);
        position: absolute;
        top: -11px;
        left: 15px;
        z-index: 2;
    }
    header .score figure{
        position: absolute;
        top: 9px;
        left: 11px;
        width: 75px;
        max-height: 125px;
        overflow: hidden;
        border: 3px solid #FFF;
        line-height: 0;
        -webkit-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.33);
        box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.33);
        -moz-transform: rotate(-1.5deg);
        -webkit-transform: rotate(-1.5deg);
        -o-transform: rotate(-1.5deg);
        -ms-transform: rotate(-1.5deg);
        transform: rotate(-1.5deg);
        -webkit-backface-visibility: hidden;
    }
        header .score figure img{
            max-width: 100%;
        }

    header .score a{
        text-decoration: none;
        color: #333;
    }
        header .score a:hover{
            text-decoration: underline;
        }
    header .score ul,
    header .score li{
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
        header .score ul{
            margin-top: 6px;
            width: 140px;
            float: left;
        }
        header .score li{
            font-size: 12px;
            padding: 5px 0 2px;
        }

            header .score li.true{
                background: url(../img/header/check.png) no-repeat 0 1px;
                padding-left: 25px;
            }
            header .score li.false{
                font-weight: bold;
                padding-left: 25px;
                background: url(../img/header/x.png) no-repeat 0 5px;
            }
                header .score li.false a{
                    color: #b1085e;
                }

            header .score li strong{
                display: inline-block;
                width: 25px;
                text-align: center;
                border-bottom: 1px solid #DDD;
                margin-right: 5px;
            }
                header .score li.voted strong{
                    font-weight: bold;
                }
                    header .score li.voted a strong{
                        color: #b1085e;
                    }

    header .score .user{
        margin-right: 10px;
    }

    header .score h2{
        margin: 0;
        padding: 0;
        font: bold 19px/1 Montserrat, Helvetica, Arial, "Lucida Grande", sans-serif;
    }

#nav {
    display: block;
    width: 100%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #37559f;
    background: #4564b0; /* Old browsers */
    background: -moz-linear-gradient(top,  #4564b0 0%, #344c85 6%, #395495 55%, #4768b6 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4564b0), color-stop(6%,#344c85), color-stop(55%,#395495), color-stop(100%,#4768b6)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #4564b0 0%,#344c85 6%,#395495 55%,#4768b6 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #4564b0 0%,#344c85 6%,#395495 55%,#4768b6 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #4564b0 0%,#344c85 6%,#395495 55%,#4768b6 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #4564b0 0%,#344c85 6%,#395495 55%,#4768b6 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4564b0', endColorstr='#4768b6',GradientType=0 ); /* IE6-9 */
    -webkit-box-shadow:  0px 1px 2px 0px rgba(0, 0, 0, 0.5);
    box-shadow:  0px 1px 2px 0px rgba(0, 0, 0, 0.5);
    text-align: center;

}

#nav li {
    display: inline;
    width: 150px;
    height: 40px;
    line-height: 40px;
    padding: 0;
    margin: 0;
}

#nav li a {
   display: inline-block;
   height: 40px;
   line-height: 44px;
   vertical-align: baseline;
   width: 150px;
   font-family: BebasNeueRegular, Helvetica, Arial;
   letter-spacing: 1px;
   font-size: 20px;
   text-transform: uppercase;
   color: #fff;
   text-shadow: 0px 1px 1px #000000;
   filter: dropshadow(color=#000000, offx=0, offy=1);
   text-decoration: none;
}

#nav li a.invite{
    border-bottom: 1px solid #AC1960;
    background: rgb(174,28,99);
    background: -moz-linear-gradient(top, rgba(174,28,99,1) 0%, rgba(144,13,66,1) 6%, rgba(181,37,111,1) 50%, rgba(181,37,111,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(174,28,99,1)), color-stop(6%,rgba(144,13,66,1)), color-stop(50%,rgba(181,37,111,1)), color-stop(100%,rgba(181,37,111,1)));
    background: -webkit-linear-gradient(top, rgba(174,28,99,1) 0%,rgba(144,13,66,1) 6%,rgba(181,37,111,1) 50%,rgba(181,37,111,1) 100%);
    background: -o-linear-gradient(top, rgba(174,28,99,1) 0%,rgba(144,13,66,1) 6%,rgba(181,37,111,1) 50%,rgba(181,37,111,1) 100%);
    background: -ms-linear-gradient(top, rgba(174,28,99,1) 0%,rgba(144,13,66,1) 6%,rgba(181,37,111,1) 50%,rgba(181,37,111,1) 100%);
    background: linear-gradient(to bottom, rgba(174,28,99,1) 0%,rgba(144,13,66,1) 6%,rgba(181,37,111,1) 50%,rgba(181,37,111,1) 100%);
}
#nav li a.invite:hover{
    background: rgb(174,28,99);
    background: -moz-linear-gradient(top, rgba(174,28,99,1) 0%, rgba(172,25,96,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(174,28,99,1)), color-stop(100%,rgba(172,25,96,1)));
    background: -webkit-linear-gradient(top, rgba(174,28,99,1) 0%,rgba(172,25,96,1) 100%);
    background: -o-linear-gradient(top, rgba(174,28,99,1) 0%,rgba(172,25,96,1) 100%);
    background: -ms-linear-gradient(top, rgba(174,28,99,1) 0%,rgba(172,25,96,1) 100%);
    background: linear-gradient(to bottom, rgba(174,28,99,1) 0%,rgba(172,25,96,1) 100%);
}

#nav a:hover, #nav a.selected {
    background: #5276ce; /* Old browsers */
    background: -moz-linear-gradient(top,  #5276ce 0%, #415eaa 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5276ce), color-stop(100%,#415eaa)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #5276ce 0%,#415eaa 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #5276ce 0%,#415eaa 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #5276ce 0%,#415eaa 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #5276ce 0%,#415eaa 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5276ce', endColorstr='#415eaa',GradientType=0 ); /* IE6-9 */
}


div.content {
    margin: 46px 0 0 0;
}


#loading {
    position: fixed;
    width: 100px;
    height: 100px;
    left: 50%;
    top: 300px;
    margin-left: -40px;
    background: #ffffff url(../img/loading.gif) 50% 20px no-repeat;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow:  5px 5px 18px 0px #999999;
    box-shadow:  5px 5px 18px 0px #999999;
}

#loading:after {
    color: #7f96ab;
    content: "Loading";
    display: block;
    width: 100px;
    margin-top: 64px;
    text-align: center;
}


.btn {
    display: inline-block;
    padding: 10px 16px;
    font-family: Montserrat, Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 15px;
    text-decoration: none;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    line-height: 15px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
}

.btn {
    border: 1px solid #818181;
    color: #ffffff;
    text-shadow: 1px 1px 0px #000000;
    filter: dropshadow(color=#000000, offx=1, offy=1);
    background: #b2b2b2; /* Old browsers */
    background: -moz-linear-gradient(top,  #b2b2b2 0%, #848484 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b2b2b2), color-stop(100%,#848484)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #b2b2b2 0%,#848484 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #b2b2b2 0%,#848484 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #b2b2b2 0%,#848484 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #b2b2b2 0%,#848484 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b2b2b2', endColorstr='#848484',GradientType=0 ); /* IE6-9 */
}

.btn:hover, .btn:focus {
    -webkit-box-shadow: inset 0px -2px 5px 0px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0px -2px 5px 0px rgba(0, 0, 0, 0.1);
}

.btn:active {
    -webkit-box-shadow: inset 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
    box-shadow: inset 0px 2px 5px 0px rgba(0, 0, 0, 0.2);
}

.btn-large {
   padding: 10px 18px;
   font-size: 17px;
   line-height: 17px;
}

.btn-green {
    border: 1px solid #064608;
    color: #ffffff;
    text-shadow: 1px 1px 0px #000000;
    filter: dropshadow(color=#000000, offx=1, offy=1);
    background: #009a1e; /* Old browsers */
    background: -moz-linear-gradient(top,  #009a1e 1%, #007514 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#009a1e), color-stop(100%,#007514)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #009a1e 1%,#007514 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #009a1e 1%,#007514 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #009a1e 1%,#007514 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #009a1e 1%,#007514 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#009a1e', endColorstr='#007514',GradientType=0 ); /* IE6-9 */
}

.btn-blue {
    border: 1px solid #0c1e51;
    color: #ffffff;
    text-shadow: 1px 1px 0px #000000;
    filter: dropshadow(color=#000000, offx=1, offy=1);
    background: #385290; /* Old browsers */
    background: -moz-linear-gradient(top,  #385290 0%, #354d87 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#385290), color-stop(100%,#354d87)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #385290 0%,#354d87 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #385290 0%,#354d87 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #385290 0%,#354d87 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #385290 0%,#354d87 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#385290', endColorstr='#354d87',GradientType=0 ); /* IE6-9 */
}

.btn-large-no-icon {
   line-height: 24px;
}

[class^="icon-"], [class*=" icon-"] {
    display: inline-block;
    vertical-align: text-bottom;
    background: transparent url(../img/sprite.png) 0 0 no-repeat;
}

.icon-ok {
    height: 24px;
    width: 32px;
    line-height: 24px;
    background-position: 0 0;
}

.icon-cancel {
    height: 24px;
    width: 32px;
    line-height: 24px;
    background-position: -64px 0;
}

.icon-invite {
   height: 24px;
   width: 24px;
   line-height: 24px;
   background-position: -95px 0;
}

.icon-notification {
    height: 24px;
    width: 32px;
    line-height: 24px;
    background-position: -32px 0;
}

.icon-sad {
    height: 68px;
    width: 68px;
    line-height: 68px;
    background-position: 0 -24px;
}

.icon-happy {
    height: 68px;
    width: 68px;
    line-height: 68px;
    background-position: -68px -24px;
}

.icon-mini-ok {
    height: 10px;
    width: 10px;
    line-height: 10px;
    background-position: 0 -92px;
}

.main-content {
    width: 660px;
    margin: 0 auto;
    padding: 30px 0;
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top,  #ffffff 0%, #e6e8ec 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e6e8ec)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ffffff 0%,#e6e8ec 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ffffff 0%,#e6e8ec 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ffffff 0%,#e6e8ec 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #ffffff 0%,#e6e8ec 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e6e8ec',GradientType=0 ); /* IE6-9 */
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow:  5px 5px 18px 0px #999999;
    box-shadow:  5px 5px 18px 0px #999999;
}

.main-content-message {
    margin: 16px 0;
    text-align: center;
}

.main-content-message h2, h3 {
    font-family: montserrat;
    font-weight: normal;
    letter-spacing: -0.05em;
}

.main-content-message h2 {
    color: #3b5597;
    margin: 0 40px;
}

.main-content-message h3 {
    color: #444;
    margin: 8px 40px 0 40px;

}

.main-content-message p {
    color: #666;
    margin: 10px 40px 0 40px;
    font-size: 15px;
}

.main-content-right {
    text-align: right;
    margin: 0px 40px 0 40px;
    font-size: 13px;
}

.main-content-message .happy,
.main-content-message .sad {
    text-align: left;
    padding-left: 10px;
    font-family: Montserrat, Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 16px;
    width:  8em;
    margin-right: 32px;
    display: inline-block;
    vertical-align: top;
}

.main-content-message .happy {
    color: #008919;
}

.main-content-message .sad {
    color: #870000;
}

.main-content-buttons {
    text-align: center;
    margin: 30px 0 8px 0;
}

.main-content-buttons .or {
    display: inline-block;
    line-height: 40px;
    padding: 2px 0;
    margin: 0 6px;
    border-top: 1px solid #bebebe;
    border-bottom: 1px solid #bebebe;
    vertical-align: middle;
}

.main-content-buttons .or span {
    display: inline-block;
    line-height: 38px;
    width: 40px;
    color: #434853;
    border-top: 1px solid #bebebe;
    border-bottom: 1px solid #bebebe;
}

.main-content-extra {
    margin: 26px 40px 0 40px;
    text-align: center;
    color: #666;
    font-size: 15px;
}

.main-friends {
    width: 738px;
    margin: 34px auto 0;
    padding: 0;
    min-height: 269px;
    background: transparent url(../img/friends-back.png) 50% 0 no-repeat;
}

.main-friends h2 {
    color:#3a5699;
    margin: 36px 0 24px;
    text-align: center;
    font-family: Montserrat, Helvetica, Arial, "Lucida Grande", sans-serif;
    text-shadow: 1px 1px 0px #ffffff;
    filter: dropshadow(color=#ffffff, offx=1, offy=1);
    font-weight: normal;
}

.main-friends-friend {
    width: 147px;
    padding: 0;
    margin: 0 0 0 50px;
    float: left;
}

.main-friends-friend:first-child {
    margin-left: 0;
}

.main-friends-friend img {
    border: 3px solid #ffffff;
    -webkit-box-shadow:  2px 2px 5px 0px #999999;
    box-shadow:  2px 2px 5px 0px #999999;
    height: 86px;
    width: 86px;
}

.main-friends-friend .name {
    color:#3a5699;
    margin: 6px 0 0 0;
    font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
    font-size: 13px;
    font-weight: bold;
    text-shadow: 1px 1px 0px #d3dcf4;
    filter: dropshadow(color=#d3dcf4, offx=1, offy=1);
    display: block;
}

.main-friends-friend .info {
    display: block;
    margin: 3px 0 0 0;
    font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    color: #000000;
    text-shadow: 1px 1px 0px #d3dcf4;
    filter: dropshadow(color=#d3dcf4, offx=1, offy=1);
}

.main-friends-friend .progress {
    display: block;
    margin: 14px 0 0 0;
    background-color: #d3d9e8;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    padding: 4px;
    font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
    font-size: 9px;
}

.main-friends-friend .progress-inactive {
    color: #999999;
}
.main-friends-friend .progress-inactive .icon-mini-ok {
    background: none;
}

.main-friends-friend .progress + .progress {
    margin-top: 2px;
}

.main-friends-friend .points {
    border-top: 1px dashed #000000;
    padding: 10px 0 0 0;
    margin: 16px 0 20px;
    display: block;
    color:#000000;
    font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
    font-size: 16px;
    text-shadow: 1px 1px 0px #ffffff;
    filter: dropshadow(color=#ffffff, offx=1, offy=1);
    font-weight: bold;
}

.modal {
    background-color: #ecf2f7;
    width: 400px;
    margin-left: -200px;
    -webkit-box-shadow:  0 0 10px 0px #000000;
    box-shadow:  0 0 10px 0px #000000;
}

.modal .modal-header h3 {
    text-align: center;
    color:#3a5699;
    margin: 20px 0;
    font-size: 24px;
    text-align: center;
    font-family: Montserrat, Helvetica, Arial, "Lucida Grande", sans-serif;
}

.modal .modal-header .close {
    position: fixed;
    margin-left: 370px;
    margin-top: -22px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    font-weight: bold;
    color: #ffffff;
    background-color: #000000;
    border: 3px solid #ffffff;
    height: 30px;
    line-height: 26px;
    width: 30px;
    text-align: center;
    vertical-align: middle;
    font-size: 24px;
    padding: 0;
    -webkit-box-shadow:  0 0 10px 0px #000000;
    box-shadow:  0 0 10px 0px #000000;
}


.modal .modal-body {
    color: #000000;
    text-align: center;
    font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
    font-size: 20px;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.modal .modal-footer {
    background-color: transparent;
    text-align: center;
    margin: 20px 0;
    border-top: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#loading-friends {
   display: none;
}

#loading-friends-spinner {
    width: 100px;
    height: 100px;
    margin: 40px auto;
    background: #ffffff url(../img/loading.gif) 50% 20px no-repeat;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow:  5px 5px 18px 0px #999999;
    box-shadow:  5px 5px 18px 0px #999999;
}

#loading-friends-spinner::after {
    color: #7f96ab;
    content: "Loading friends";
    display: block;
    width: 50px;
    margin: 40px auto 0;
    padding: 62px 0 0 0;
    text-align: center;
}

.blackbar {
    background-color: #0a0905;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding:1px;
    width: 660px;
    margin: 0 auto;
    display: block;
}

.blackbar .title {
    color: #fff;
    text-align: center;
    font-family: Montserrat;
    font-size: 24px;
    padding: 10px 0;
}

.blackbar .text {
    background: #858585; /* Old browsers */
    background: -moz-linear-gradient(top,  #858585 0%, #323232 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#858585), color-stop(100%,#323232)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #858585 0%,#323232 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #858585 0%,#323232 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #858585 0%,#323232 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #858585 0%,#323232 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#858585', endColorstr='#323232',GradientType=0 ); /* IE6-9 */
    -webkit-box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.4);
    box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.4);
    -webkit-border-radius: 5px;
    border-radius: 5px;
    color: #fff;
    text-align: center;
    text-shadow: 0px 1px 1px black;
    filter: dropshadow(color=#000000, offx=0, offy=1);
    padding: 5px 0;
    font-size: 16px;
    line-height: 32px;
}

.blackbar .text strong {
    font-family: BebasNeueRegular;
    display: inline-block;
    background-color: #393939;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow:  0px 1px 1px 0px rgba(163, 163, 163, 0.75);
    box-shadow:  0px 1px 1px 0px rgba(163, 163, 163, 0.75);
    margin: 0 2px;
    font-size: 30px;
    font-weight: normal;
    line-height: 30px;
}

.blackbar .text strong span {
    display: inline-block;
    padding: 6px 6px 2px 6px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: inset 0px 2px 2px 0px rgba(0, 0, 0, 0.75);
    box-shadow: inset 0px 2px 2px 0px rgba(0, 0, 0, 0.75);
}

.blackbar .text strong.primary {
    color: #fdc849;
}

.notification {
    margin: 0;
    background-color: rgba(90, 196, 110, 0.83);
    color: #fff;
    font-weight: bold;
    text-align: center;
    font-size: 18px;
    padding: 10px 0;
    border: 1px solid #579465;
    text-shadow: 1px 1px 0px #555555;
    filter: dropshadow(color=#555555, offx=1, offy=1);
    -webkit-box-shadow:  0px 2px 6px 0px rgba(0, 0, 0, 0.26);
    box-shadow:  0px 2px 6px 0px rgba(0, 0, 0, 0.26);
}

.boxes {
    display: block;
    width: 738px;
    margin: 2px auto 0;
    padding: 20px 0 0 0;
    min-height: 269px;
    background: transparent url(../img/friends-back.png) 50% 0 no-repeat;
}

.boxes .box {
    width: 600px;
    margin: 30px auto 0;
    padding: 30px;
    background: white;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,white), color-stop(100%,#E6E8EC));
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e6e8ec',GradientType=0 );
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0px 7px 12px 0px #999;
    box-shadow: 0px 7px 12px 0px #999;
}

.boxes .box .friends  {
    float: left;
    width: 330px;
    height: 132px;
}

.boxes .box .friends img {
   margin: 0 0 1px 1px;
   width: 36px;
   height: 36px;
   float: left;
}

.boxes .box .text {
    float: left;
    width: 240px;
    margin: 0 0 0 30px;
}

.boxes .box .text h2 {
    color: #3d3d3d;
    margin: 0;
    font-size: 18px;
}

.boxes .box .text p {
    color: #3d3d3d;
    margin: 10px 0;
    font-size: 13px;
}

.feedback{
    display: block;
    position: fixed;
    top: 275px;
    right: 0;
    width: 31px;
    height: 120px;
    text-indent: -999em;
    overflow: hidden;
    background: url(../img/feedback.png);
}

.invite-friends {
   text-align: center;
   display: none;
   padding: 10px;
   position: fixed;
   font-family: 'Montserrat', sans-serif;
   top: 0px;
   right: 60px;
   background-color: #AB185E;
   color: #fdfdfd;
   -webkit-border-bottom-right-radius: 2px;
   -webkit-border-bottom-left-radius: 2px;
   -moz-border-radius-bottomright: 2px;
   -moz-border-radius-bottomleft: 2px;
   border-bottom-right-radius: 2px;
   border-bottom-left-radius: 2px;
   -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.25);
   -moz-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.25);
   box-shadow: 0 5px 5px rgba(0, 0, 0, 0.25);
   text-decoration: none;
}

.invite-friends span {
   display: block;
   margin: 4px 0 0;
}


.filters{
    width: 712px;
    margin: -20px auto 20px;
    list-style: none inside none;
    text-align: center;
}
    .filters li{
        list-style-type: none;
        display: inline-block;
        margin-right: 7px;
        padding-right: 7px;
        border-right: 1px solid #222;
        font: 13px/1 montserrat, "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    }
        .filters li:last-child{
            margin-right: 0;
            padding-right: 0;
            border-right: 0;
        }
    .filters li a{
        display: block;
        padding: 15px 10px;
        color: #111;
        text-decoration: none;
    }
    .filters li.checked a{
        padding-left: 22px;
        position: relative;
    }
        .filters li.checked a:before{
            content: url(../img/check.png);
            position: absolute;
            top: 12px;
            left: 0;
        }
    .filters li.checked.selected a{
        padding-left: 32px;
    }
        .filters li.checked.selected a:before{
            left: 10px;
        }
    .filters li.selected a{
        background: #EEE;
        background: -moz-linear-gradient(top, rgba(255,255,255,1) 40%, rgba(204,204,204,1) 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(40%,rgba(255,255,255,1)), color-stop(100%,rgba(204,204,204,1)));
        background: -webkit-linear-gradient(top, rgba(255,255,255,1) 40%,rgba(204,204,204,1) 100%);
        background: -o-linear-gradient(top, rgba(255,255,255,1) 40%,rgba(204,204,204,1) 100%);
        background: -ms-linear-gradient(top, rgba(255,255,255,1) 40%,rgba(204,204,204,1) 100%);
        background: linear-gradient(to bottom, rgba(255,255,255,1) 40%,rgba(204,204,204,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#cccccc',GradientType=0 );
        -webkit-box-shadow: inset 0px -1px 1px 0px #fff,
                            0px 1px 2px 0px rgba(0, 0, 0, 0.8);
        box-shadow: inset 0px -1px 1px 0px #fff,
                    0px 1px 2px 0px rgba(0, 0, 0, 0.8);
        border-radius: 5px;
    }
    .filters .count{
        color: #b1085e;
    }


#friends{
    padding: 28px;
    width: 656px;
    list-style: none inside none;
}
    #friends ul{
        margin: 0;
        padding: 0;
    }
    #friends li{
        width: 138px;
        background: #e8eaf0;
        float: left;
        list-style-type: none;
        margin: 0 12px 24px;
        -webkit-border-radius: 5px;
        border-radius: 5px;
        border: 1px solid #c0c3ca;
        -webkit-box-shadow: inset 0px 0px 1px rgba(255, 255, 255, 0.75),
                            0px 2px 5px rgba(0, 0, 0, 0.22);
        box-shadow: inset 0px 0px 1px rgba(255, 255, 255, 0.75),
                    0px 2px 5px rgba(0, 0, 0, 0.22);
    }
        #friends li figure{
            width: 50px;
            margin: 8px auto;
        }
        #friends li img{
            max-width: 100%;
            border: 3px solid #FFF;
            -webkit-box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.22);
            box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.22);
        }
        #friends li:nth-child(4n+1){
            clear: left;
        }
    #friends h2{
        font-size: 13px;
        font-weight: bold;
        color: #2e4685;
        padding: 0 10px;
        margin: 12px 0 4px;
        text-align: center;
        max-height: 34px;
        overflow: hidden;
    }
    #friends .status{
        font-size: 12px;
        font-weight: bold;
        padding: 0 10px;
        text-align: center;
    }
        #friends .status.uninvited{
            color: #585858;
        }
            #friends .status.uninvited:before{
                content: '\D7\A0';
            }
        #friends .status.invited{
            color: #00931c;
        }
            #friends .status.invited:before{
                content: '\2713\A0';
            }
        #friends .status.not-pledged{
            color: #585858;
        }
            #friends .status.not-pledged:before{
                content: '\D7\A0';
            }
        #friends .status.pledged{
            color: #00931c;
        }
            #friends .status.pledged22:before{
                content: '\2713\A0';
            }

    #friends .action{
        margin: 12px 1px 1px;
        padding: 9px 6px 10px;
        border-top: 1px dashed #babbc0;
    }
        #friends .action .btn{
            font: bold 10px/1 "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
            display: block;
            text-shadow: none;
            padding: 4px 5px 7px;
            text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
            -webkit-box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.3);
            box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.3);
        }
            #friends .action .btn:active,
            #friends .action .btn:focus{
                -webkit-box-shadow: inset 0px 1px 1px 1px rgba(0, 0, 0, 0.2);
                box-shadow: inset 0px 1px 1px 1px rgba(0, 0, 0, 0.2);
            }
            #friends .action .btn:before{
                content: '\2709\A0';
                font-size: 20px;
                line-height: 10px;
                position: relative;
                top: 3px;
                font-weight: normal;
            }

a.load-more{
    display: block;
    text-align: center;
    font: 13px/1 montserrat, "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    text-transform: uppercase;
    border-radius: 5px;
    background: #d6dae4;
    text-decoration: none;
    padding: 10px;
}
    a.load-more:hover{
        background: #c2c8d6;
    }

.empty{
    text-align: center;
    font: 15px/1 montserrat, "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    padding: 30px 0;
}
    .empty > :first-child{
        margin-top: 0;
    }


