@font-face {
    font-family: 'BebasNeueRegular';
    src: url('../font/BebasNeue-webfont.eot');
    src: url('../font/BebasNeue-webfont.eot?#iefix') format('embedded-opentype'),
    url('../font/BebasNeue-webfont.woff') format('woff'),
    url('../font/BebasNeue-webfont.ttf') format('truetype'),
    url('../font/BebasNeue-webfont.svg#BebasNeueRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: local('Montserrat Regular'), local('Montserrat-Regular'), url(http://themes.googleusercontent.com/static/fonts/montserrat/v2/zhcz-_WihjSQC0oHJ9TCYBsxEYwM7FgeyaSgU71cLG0.woff) format('woff');
}


.cf:before,
.cf:after {
    content: ""; /* 1 */
    display: table; /* 2 */
}
.cf:after {
    clear: both;
}
.cf {
    *zoom: 1;
}

html {
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top,  #ffffff 20%, #b1b8cb 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(20%,#ffffff), color-stop(100%,#b1b8cb)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ffffff 20%,#b1b8cb 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ffffff 20%,#b1b8cb 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ffffff 20%,#b1b8cb 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #ffffff 20%,#b1b8cb 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#b1b8cb',GradientType=0 ); /* IE6-9 */
}

body {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 15px;
    background: transparent url(../img/body-back.png) 0 116px no-repeat;
    min-height: 900px;
   padding-bottom: 300px;
}

a {
    color:#3f5b9a;
    text-decoration: underline;
}

header {
    height: 184px;
    background: #003168 url(../img/header-back.png) 0 0 repeat;
}

header:after {
    display: block;
    clear: both;
    line-height: 6px;
    height: 6px;
    content: "";
    background: #ffe860; /* Old browsers */
    background: -moz-linear-gradient(top,  #ffe860 0%, #f6c501 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffe860), color-stop(100%,#f6c501)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ffe860 0%,#f6c501 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ffe860 0%,#f6c501 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ffe860 0%,#f6c501 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #ffe860 0%,#f6c501 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffe860', endColorstr='#f6c501',GradientType=0 ); /* IE6-9 */
    border-top: 1px solid #fff1a0;
    border-bottom: 1px solid #fade6c;
    -webkit-box-shadow:  0px 1px 2px 0px rgba(0, 0, 0, 0.5);
    box-shadow:  0px 1px 2px 0px rgba(0, 0, 0, 0.5);
}

header .logo {
    height: 184px;
    background: url(../img/header-logo-back.png) 50% 50% no-repeat;
}

header .logo h1 {
    height: 144px;
    display: block;
    text-indent: -9000px;
    background: rgba(0, 59, 104, 0.8) url(../img/logo.png) 50% 20% no-repeat;
    margin: 0 auto;
    padding: 20px 0;
}
    header .logo p{
        width: 650px;
        margin: 0 auto;
        text-align: center;
        margin-top: -60px;
        color: #fbda39;
        font-size: 12px;
        line-height: 1.59;
    }
    header .logo strong{
        display: block;
        font: bold 13px/1.54 'Montserrat', sans-serif;
    }

header ul {
    display: block;
    width: 600px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    position: absolute;
    margin: -5px 0 0 -300px;
    padding: 0;
    left: 50%;
    border-bottom: 1px solid #37559f;
    background: #4564b0; /* Old browsers */
    background: -moz-linear-gradient(top,  #4564b0 0%, #344c85 6%, #395495 55%, #4768b6 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4564b0), color-stop(6%,#344c85), color-stop(55%,#395495), color-stop(100%,#4768b6)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #4564b0 0%,#344c85 6%,#395495 55%,#4768b6 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #4564b0 0%,#344c85 6%,#395495 55%,#4768b6 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #4564b0 0%,#344c85 6%,#395495 55%,#4768b6 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #4564b0 0%,#344c85 6%,#395495 55%,#4768b6 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4564b0', endColorstr='#4768b6',GradientType=0 ); /* IE6-9 */
    -webkit-box-shadow:  0px 1px 2px 0px rgba(0, 0, 0, 0.5);
    box-shadow:  0px 1px 2px 0px rgba(0, 0, 0, 0.5);

}

header ul li {
    display: block;
    float: left;
    width: 150px;
    height: 40px;
    line-height: 40px;
    padding: 0;
    margin: 0;
}

header ul li a {
   display: block;
   height: 40px;
   line-height: 44px;
   vertical-align: baseline;
   width: 150px;
   font-family: BebasNeueRegular, Helvetica, Arial;
   letter-spacing: 1px;
   font-size: 20px;
   text-transform: uppercase;
   color: #fff;
   text-shadow: 0px 1px 1px #000000;
   filter: dropshadow(color=#000000, offx=0, offy=1);
   text-decoration: none;
}

header ul li a.invite{
    border-bottom: 1px solid #AC1960;
    background: rgb(174,28,99);
    background: -moz-linear-gradient(top, rgba(174,28,99,1) 0%, rgba(144,13,66,1) 6%, rgba(181,37,111,1) 50%, rgba(181,37,111,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(174,28,99,1)), color-stop(6%,rgba(144,13,66,1)), color-stop(50%,rgba(181,37,111,1)), color-stop(100%,rgba(181,37,111,1)));
    background: -webkit-linear-gradient(top, rgba(174,28,99,1) 0%,rgba(144,13,66,1) 6%,rgba(181,37,111,1) 50%,rgba(181,37,111,1) 100%);
    background: -o-linear-gradient(top, rgba(174,28,99,1) 0%,rgba(144,13,66,1) 6%,rgba(181,37,111,1) 50%,rgba(181,37,111,1) 100%);
    background: -ms-linear-gradient(top, rgba(174,28,99,1) 0%,rgba(144,13,66,1) 6%,rgba(181,37,111,1) 50%,rgba(181,37,111,1) 100%);
    background: linear-gradient(to bottom, rgba(174,28,99,1) 0%,rgba(144,13,66,1) 6%,rgba(181,37,111,1) 50%,rgba(181,37,111,1) 100%);
}
header ul li a.invite:hover{
    background: rgb(174,28,99);
    background: -moz-linear-gradient(top, rgba(174,28,99,1) 0%, rgba(172,25,96,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(174,28,99,1)), color-stop(100%,rgba(172,25,96,1)));
    background: -webkit-linear-gradient(top, rgba(174,28,99,1) 0%,rgba(172,25,96,1) 100%);
    background: -o-linear-gradient(top, rgba(174,28,99,1) 0%,rgba(172,25,96,1) 100%);
    background: -ms-linear-gradient(top, rgba(174,28,99,1) 0%,rgba(172,25,96,1) 100%);
    background: linear-gradient(to bottom, rgba(174,28,99,1) 0%,rgba(172,25,96,1) 100%);
}

header ul a:hover, header ul a.selected {
    background: #5276ce; /* Old browsers */
    background: -moz-linear-gradient(top,  #5276ce 0%, #415eaa 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5276ce), color-stop(100%,#415eaa)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #5276ce 0%,#415eaa 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #5276ce 0%,#415eaa 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #5276ce 0%,#415eaa 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #5276ce 0%,#415eaa 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5276ce', endColorstr='#415eaa',GradientType=0 ); /* IE6-9 */
}


div.content {
    margin: 46px 0 0 0;
}


#loading {
    position: fixed;
    width: 100px;
    height: 100px;
    left: 50%;
    top: 300px;
    margin-left: -40px;
    background: #ffffff url(../img/loading.gif) 50% 20px no-repeat;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow:  5px 5px 18px 0px #999999;
    box-shadow:  5px 5px 18px 0px #999999;
}

#loading:after {
    color: #7f96ab;
    content: "Loading";
    display: block;
    width: 100px;
    margin-top: 64px;
    text-align: center;
}


.btn {
    display: inline-block;
    padding: 10px 16px;
    font-family: Montserrat, Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 15px;
    text-decoration: none;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    line-height: 15px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
}

.btn {
    border: 1px solid #818181;
    color: #ffffff;
    text-shadow: 1px 1px 0px #000000;
    filter: dropshadow(color=#000000, offx=1, offy=1);
    background: #b2b2b2; /* Old browsers */
    background: -moz-linear-gradient(top,  #b2b2b2 0%, #848484 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b2b2b2), color-stop(100%,#848484)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #b2b2b2 0%,#848484 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #b2b2b2 0%,#848484 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #b2b2b2 0%,#848484 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #b2b2b2 0%,#848484 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b2b2b2', endColorstr='#848484',GradientType=0 ); /* IE6-9 */
}

.btn:hover, .btn:focus {
    -webkit-box-shadow: inset 0px -2px 5px 0px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0px -2px 5px 0px rgba(0, 0, 0, 0.1);
}

.btn:active {
    -webkit-box-shadow: inset 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
    box-shadow: inset 0px 2px 5px 0px rgba(0, 0, 0, 0.2);
}

.btn-large {
   padding: 10px 18px;
   font-size: 17px;
   line-height: 17px;
}

.btn-green {
    border: 1px solid #064608;
    color: #ffffff;
    text-shadow: 1px 1px 0px #000000;
    filter: dropshadow(color=#000000, offx=1, offy=1);
    background: #009a1e; /* Old browsers */
    background: -moz-linear-gradient(top,  #009a1e 1%, #007514 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#009a1e), color-stop(100%,#007514)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #009a1e 1%,#007514 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #009a1e 1%,#007514 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #009a1e 1%,#007514 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #009a1e 1%,#007514 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#009a1e', endColorstr='#007514',GradientType=0 ); /* IE6-9 */
}

.btn-blue {
    border: 1px solid #0c1e51;
    color: #ffffff;
    text-shadow: 1px 1px 0px #000000;
    filter: dropshadow(color=#000000, offx=1, offy=1);
    background: #385290; /* Old browsers */
    background: -moz-linear-gradient(top,  #385290 0%, #354d87 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#385290), color-stop(100%,#354d87)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #385290 0%,#354d87 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #385290 0%,#354d87 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #385290 0%,#354d87 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #385290 0%,#354d87 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#385290', endColorstr='#354d87',GradientType=0 ); /* IE6-9 */
}

.btn-large-no-icon {
   line-height: 24px;
}

[class^="icon-"], [class*=" icon-"] {
    display: inline-block;
    vertical-align: text-bottom;
    background: transparent url(../img/sprite.png) 0 0 no-repeat;
}

.icon-ok {
    height: 24px;
    width: 32px;
    line-height: 24px;
    background-position: 0 0;
}

.icon-cancel {
    height: 24px;
    width: 32px;
    line-height: 24px;
    background-position: -64px 0;
}

.icon-invite {
   height: 24px;
   width: 24px;
   line-height: 24px;
   background-position: -95px 0;
}

.icon-notification {
    height: 24px;
    width: 32px;
    line-height: 24px;
    background-position: -32px 0;
}

.icon-sad {
    height: 68px;
    width: 68px;
    line-height: 68px;
    background-position: 0 -24px;
}

.icon-happy {
    height: 68px;
    width: 68px;
    line-height: 68px;
    background-position: -68px -24px;
}

.icon-mini-ok {
    height: 10px;
    width: 10px;
    line-height: 10px;
    background-position: 0 -92px;
}

.main-content {
    width: 660px;
    margin: 0 auto;
    padding: 30px 0;
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top,  #ffffff 0%, #e6e8ec 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e6e8ec)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ffffff 0%,#e6e8ec 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ffffff 0%,#e6e8ec 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ffffff 0%,#e6e8ec 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #ffffff 0%,#e6e8ec 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e6e8ec',GradientType=0 ); /* IE6-9 */
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow:  5px 5px 18px 0px #999999;
    box-shadow:  5px 5px 18px 0px #999999;
}

.main-content-message {
    margin: 16px 0;
    text-align: center;
}

.main-content-message h2, h3 {
    font-family: montserrat;
    font-weight: normal;
    letter-spacing: -0.05em;
}

.main-content-message h2 {
    color: #3b5597;
    margin: 0 40px;
}

.main-content-message h3 {
    color: #444;
    margin: 8px 40px 0 40px;

}

.main-content-message p {
    color: #666;
    margin: 10px 40px 0 40px;
    font-size: 15px;
}

.main-content-right {
    text-align: right;
    margin: 0px 40px 0 40px;
    font-size: 13px;
}

.main-content-message .happy,
.main-content-message .sad {
    text-align: left;
    padding-left: 10px;
    font-family: Montserrat, Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 16px;
    width:  8em;
    margin-right: 32px;
    display: inline-block;
    vertical-align: top;
}

.main-content-message .happy {
    color: #008919;
}

.main-content-message .sad {
    color: #870000;
}

.main-content-buttons {
    text-align: center;
    margin: 30px 0 8px 0;
}

.main-content-buttons .or {
    display: inline-block;
    line-height: 40px;
    padding: 2px 0;
    margin: 0 6px;
    border-top: 1px solid #bebebe;
    border-bottom: 1px solid #bebebe;
    vertical-align: middle;
}

.main-content-buttons .or span {
    display: inline-block;
    line-height: 38px;
    width: 40px;
    color: #434853;
    border-top: 1px solid #bebebe;
    border-bottom: 1px solid #bebebe;
}

.main-content-extra {
    margin: 26px 40px 0 40px;
    text-align: center;
    color: #666;
    font-size: 15px;
}

.main-friends {
    width: 738px;
    margin: 34px auto 0;
    padding: 0;
    min-height: 269px;
    background: transparent url(../img/friends-back.png) 50% 0 no-repeat;
}

.main-friends h2 {
    color:#3a5699;
    margin: 36px 0 24px;
    text-align: center;
    font-family: Montserrat, Helvetica, Arial, "Lucida Grande", sans-serif;
    text-shadow: 1px 1px 0px #ffffff;
    filter: dropshadow(color=#ffffff, offx=1, offy=1);
    font-weight: normal;
}

.main-friends-friend {
    width: 147px;
    padding: 0;
    margin: 0 0 0 50px;
    float: left;
}

.main-friends-friend:first-child {
    margin-left: 0;
}

.main-friends-friend img {
    border: 3px solid #ffffff;
    -webkit-box-shadow:  2px 2px 5px 0px #999999;
    box-shadow:  2px 2px 5px 0px #999999;
    height: 86px;
    width: 86px;
}

.main-friends-friend .name {
    color:#3a5699;
    margin: 6px 0 0 0;
    font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
    font-size: 13px;
    font-weight: bold;
    text-shadow: 1px 1px 0px #d3dcf4;
    filter: dropshadow(color=#d3dcf4, offx=1, offy=1);
    display: block;
}

.main-friends-friend .info {
    display: block;
    margin: 3px 0 0 0;
    font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    color: #000000;
    text-shadow: 1px 1px 0px #d3dcf4;
    filter: dropshadow(color=#d3dcf4, offx=1, offy=1);
}

.main-friends-friend .progress {
    display: block;
    margin: 14px 0 0 0;
    background-color: #d3d9e8;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    padding: 4px;
    font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
    font-size: 9px;
}

.main-friends-friend .progress-inactive {
    color: #999999;
}
.main-friends-friend .progress-inactive .icon-mini-ok {
    background: none;
}

.main-friends-friend .progress + .progress {
    margin-top: 2px;
}

.main-friends-friend .points {
    border-top: 1px dashed #000000;
    padding: 10px 0 0 0;
    margin: 16px 0 20px;
    display: block;
    color:#000000;
    font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
    font-size: 16px;
    text-shadow: 1px 1px 0px #ffffff;
    filter: dropshadow(color=#ffffff, offx=1, offy=1);
    font-weight: bold;
}

.modal {
    background-color: #ecf2f7;
    width: 400px;
    margin-left: -200px;
    -webkit-box-shadow:  0 0 10px 0px #000000;
    box-shadow:  0 0 10px 0px #000000;
}

.modal .modal-header h3 {
    text-align: center;
    color:#3a5699;
    margin: 20px 0;
    font-size: 24px;
    text-align: center;
    font-family: Montserrat, Helvetica, Arial, "Lucida Grande", sans-serif;
}

.modal .modal-header .close {
    position: fixed;
    margin-left: 370px;
    margin-top: -22px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    font-weight: bold;
    color: #ffffff;
    background-color: #000000;
    border: 3px solid #ffffff;
    height: 30px;
    line-height: 26px;
    width: 30px;
    text-align: center;
    vertical-align: middle;
    font-size: 24px;
    padding: 0;
    -webkit-box-shadow:  0 0 10px 0px #000000;
    box-shadow:  0 0 10px 0px #000000;
}


.modal .modal-body {
    color: #000000;
    text-align: center;
    font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
    font-size: 20px;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.modal .modal-footer {
    background-color: transparent;
    text-align: center;
    margin: 20px 0;
    border-top: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#loading-friends {
   display: none;
}

#loading-friends-spinner {
    width: 100px;
    height: 100px;
    margin: 40px auto;
    background: #ffffff url(../img/loading.gif) 50% 20px no-repeat;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow:  5px 5px 18px 0px #999999;
    box-shadow:  5px 5px 18px 0px #999999;
}

#loading-friends-spinner::after {
    color: #7f96ab;
    content: "Loading friends";
    display: block;
    width: 50px;
    margin: 40px auto 0;
    padding: 62px 0 0 0;
    text-align: center;
}

.blackbar {
    background-color: #0a0905;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding:1px;
    width: 660px;
    margin: 0 auto;
    display: block;
}

.blackbar .title {
    color: #fff;
    text-align: center;
    font-family: Montserrat;
    font-size: 24px;
    padding: 10px 0;
}

.blackbar .text {
    background: #858585; /* Old browsers */
    background: -moz-linear-gradient(top,  #858585 0%, #323232 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#858585), color-stop(100%,#323232)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #858585 0%,#323232 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #858585 0%,#323232 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #858585 0%,#323232 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #858585 0%,#323232 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#858585', endColorstr='#323232',GradientType=0 ); /* IE6-9 */
    -webkit-box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.4);
    box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.4);
    -webkit-border-radius: 5px;
    border-radius: 5px;
    color: #fff;
    text-align: center;
    text-shadow: 0px 1px 1px black;
    filter: dropshadow(color=#000000, offx=0, offy=1);
    padding: 5px 0;
    font-size: 16px;
    line-height: 32px;
}

.blackbar .text strong {
    font-family: BebasNeueRegular;
    display: inline-block;
    background-color: #393939;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow:  0px 1px 1px 0px rgba(163, 163, 163, 0.75);
    box-shadow:  0px 1px 1px 0px rgba(163, 163, 163, 0.75);
    margin: 0 2px;
    font-size: 30px;
    font-weight: normal;
    line-height: 30px;
}

.blackbar .text strong span {
    display: inline-block;
    padding: 6px 6px 2px 6px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: inset 0px 2px 2px 0px rgba(0, 0, 0, 0.75);
    box-shadow: inset 0px 2px 2px 0px rgba(0, 0, 0, 0.75);
}

.blackbar .text strong.primary {
    color: #fdc849;
}

.notification {
    margin: 8px 0 0 0;
    background-color: rgba(90, 196, 110, 0.83);
    color: #fff;
    font-weight: bold;
    text-align: center;
    font-size: 18px;
    padding: 10px 0;
    border: 1px solid #579465;
    text-shadow: 1px 1px 0px #555555;
    filter: dropshadow(color=#555555, offx=1, offy=1);
    -webkit-box-shadow:  0px 2px 6px 0px rgba(0, 0, 0, 0.26);
    box-shadow:  0px 2px 6px 0px rgba(0, 0, 0, 0.26);
}

.boxes {
    display: block;
    width: 738px;
    margin: 2px auto 0;
    padding: 20px 0 0 0;
    min-height: 269px;
    background: transparent url(../img/friends-back.png) 50% 0 no-repeat;
}

.boxes .box {
    width: 600px;
    margin: 30px auto 0;
    padding: 30px;
    background: white;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,white), color-stop(100%,#E6E8EC));
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e6e8ec',GradientType=0 );
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0px 7px 12px 0px #999;
    box-shadow: 0px 7px 12px 0px #999;
}

.boxes .box .friends  {
    float: left;
    width: 330px;
    height: 132px;
}

.boxes .box .friends img {
   margin: 0 0 1px 1px;
   width: 36px;
   height: 36px;
   float: left;
}

.boxes .box .text {
    float: left;
    width: 240px;
    margin: 0 0 0 30px;
}

.boxes .box .text h2 {
    color: #3d3d3d;
    margin: 0;
    font-size: 18px;
}

.boxes .box .text p {
    color: #3d3d3d;
    margin: 10px 0;
    font-size: 13px;
}

.invite-friends {
   text-align: center;
   display: block;
   padding: 10px;
   position: fixed;
   top: 0px;
   right: 60px;
   background-color: #AB185E;
   color: #fdfdfd;
   -webkit-border-bottom-right-radius: 2px;
   -webkit-border-bottom-left-radius: 2px;
   -moz-border-radius-bottomright: 2px;
   -moz-border-radius-bottomleft: 2px;
   border-bottom-right-radius: 2px;
   border-bottom-left-radius: 2px;
   -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.25);
   -moz-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.25);
   box-shadow: 0 5px 5px rgba(0, 0, 0, 0.25);
   text-decoration: none;
}

.invite-friends span {
   display: block;
   margin: 4px 0 0;
}