{% load staticfiles %}

<html>
    <head>
        <title>Redirecting</title>
        <meta property="fb:app_id" content="{{ facebook_app_id }}" />
        <meta property="og:title" content="...in the 2012 elections" />
        <meta property="og:description" content="I just pledged to vote--and you should too! Install this app to make sure your friends and family vote this election. See who's voting and send reminders! Don't just vote; Vote with Friends :)" />
        <meta property="og:image" content="{% static 'img/share.png' %}" />
        <meta property="og:url" content="{{ base_url }}{% url pledge_object %}" />
        <meta property="og:type" content="website" />
    </head>
    <body>
        <script type="text/javascript">
            window.location.assign('{{ canvas_url }}');
        </script>
    </body>
</html>
