<!doctype html>

{% load static from staticfiles %}
{% load url from future %}

<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>{% block meta_title %}Fight for the Future{% endblock %}</title>
    <meta name="description" content="{% block meta_description %}Fight for the Future{% endblock %}">
    <meta name="author" content="Fight for the Future">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.modal.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% block css %}{% endblock %}
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div id="fb-root"></div>
    <header>
      <a class="logo" href="{% url 'main:index' %}"><span>Vote for the Internet</span></a>
      {% if user and False %}
      <ul>
        <li><a href="{% url 'main:pledge' %}">Promise</a></li>
        <li><a href="{% url 'main:register' %}">Register</a></li>
        <li><a href="{% url 'main:invite_friends' %}">Add Friends</a></li>
        {% comment %}
        <li><a href="">Notifications</a></li>
        <li><a href="">High Score</a></li>
        {% endcomment %}
      </ul>
      {% endif %}
    </header>
    {% block post_header %}{% endblock %}
    <div class="content cf">
        {% block content %}{% endblock %}
    </div>
    {% block modals %}{% endblock %}
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/bootstrap.modal.js' %}"></script>
    <script src="https://connect.facebook.net/en_US/all.js"></script>
    <script>
      FB.init({
        appId  : '{{FACEBOOK_APP_ID}}',
        frictionlessRequests: true
      });
    </script>
    {% block scripts %}{% endblock %}
  </body>
</html>
