<!doctype html>

{% load i18n %}
{% load static from staticfiles %}
{% load url from future %}

<html xmlns:fb="http://ogp.me/ns/fb#" class="no-js" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>{% block meta_title %}Fight for the Future{% endblock %}</title>
    <meta name="description" content="{% block meta_description %}Fight for the Future{% endblock %}">
    <meta name="author" content="Fight for the Future">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.modal.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% block css %}{% endblock %}
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-35232596-1']);
      _gaq.push(['_trackPageview']);
      var _kmq = _kmq || [];
      var _kmk = _kmk || '{{ KM_CODE }}';
      setTimeout(function() {
          function addScript(src) {
            var sc = document.createElement('script'); sc.type = 'text/javascript'; sc.async = true; sc.src = src;
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(sc, s);
          }
          addScript(('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js');
          addScript('//i.kissmetrics.com/i.js');
          addScript('//doug1izaerwt3.cloudfront.net/' + _kmk + '.1.js');
        }, 1);
      {% if my_uid %}_kmq.push(['identify', '{{ my_uid }}']);{% endif %}
      {% if traffic_source %}_kmq.push(['record', 'Traffic source: {{ traffic_source }}']);{% endif %}
    </script>
  </head>
  <body>
    <div id="fb-root"></div>

    <header>
        <div class="inner cf">

            <div class="logo">
                <h1>Vote for the Internet</h1>
                <p>Get more of your friends to vote than you ever thought possible.</p>
            </div>

            <div class="score cf">
                <h2>{{ fb_user.first_name }} {{ fb_user.last_name }}</h2>
                <figure>
                    <img src="{{ fb_user.pic }}" />
                </figure>
                <ul class="user">
                    <li class="{{ vwf_user.registered|lower }}">
                        <a href="{% url 'main:my_vote_register' %}">
                            {% if vwf_user.registered %}Registered{% else %}Hasn't Registered{% endif %}
                        </a>
                    </li>
                    <li class="{{ vwf_user.pledged|lower }}">
                        <a href="{% url 'main:my_vote_pledge' %}">
                            {% if vwf_user.pledged %}Pledged{% else %}Hasn't Pledged{% endif %}
                        </a>
                    </li>
                    <li class="{{ vwf_user.voted|lower }}">
                        <a href="{% url 'main:my_vote_vote' %}">
                            {% if vwf_user.voted %}Voted{% else %}Hasn't Voted{% endif %}
                        </a>
                    </li>
                </ul>
                <ul class="friends">
                    <li class="invited">
                        <a href="{% url 'main:invite_friends_2' 'invited' %}">
                            <strong class="num">{{ vwf_user.friends.invited.count }}</strong>Friends Invited
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'main:invite_friends_2' 'pledged' %}">
                            <strong class="num">{{ vwf_user.friends.pledged.count }}</strong>Friends Pledged
                        </a>
                    </li>
                    <li class="voted">
                        <a href="{% url 'main:invite_friends_2' 'voted' %}">
                            <strong class="num">{{ vwf_user.friends.voted.count }}</strong>Friends Voted
                        </a>
                    </li>
                </ul>
            </div>

        </div>
    </header>

      {% block nav %}
          <ul id="nav">
            <li><a href="{% url 'main:missions' %}" {% if page == "missions" %}class="selected"{% endif %}>MISSIONS</a></li>
            <li><a href="{% url 'main:my_vote' %}?force" {% if page == "my_vote" %}class="selected"{% endif %}>MY VOTE</a></li>
            <li style="display: none"><a href="{% url 'main:voting_blocks' %}" {% if page == "voting_blocks" %}class="selected"{% endif %}>VOTING BLOCKS</a></li>
            <li><a href="{% url 'main:invite_friends_2' %}" {% if page == "friends" %}class="selected"{% endif %}>MY FRIENDS</a></li>
          </ul>
      {% endblock nav %}
    <ul class="notification">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message|safe }}</li>
        {% endfor %}
    </ul>
    <div class="content cf">
        {% block content %}{% endblock %}
    </div>
    <div class="days-left">
      
      <span class="regular large">{{num_days_left}}</span> 
      {% comment %}Translators: this is the word 'days' as used in 'x days to the election'. Use singular (we add s automatically){% endcomment %}
      <span class="cursive">{% blocktrans %}day{% endblocktrans%}{{ num_days_left|pluralize }}</span><br>
      {% comment %}Translators: this are the words "TIL THE" in "28 days till the election"{% endcomment %}
      <span class="regular">TIL THE</span><br>
      {% comment %}Translators: this is the word "election" in "28 days till the election"{% endcomment %}
      <span class="regular">ELECTION</span>
    </div>
    <a class="invite-friends" href="javascript:void(0)">
      <i class="icon-invite"></i>
      <span>Invite<br>Friends</span>
    </a>
    <a class="feedback" href="mailto:team+vwf@fightforthefuture.org">Feedback?</a>
    {% block modals %}{% endblock %}
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/bootstrap.modal.js' %}"></script>
    <script src="https://connect.facebook.net/en_US/all.js#xfbml=1&amp;appId={{ FACEBOOK_APP_ID }}"></script>
    <script>
      var FACEBOOK_CANVAS_PAGE = "{{FACEBOOK_CANVAS_PAGE}}";
      var SINGLE_USER_INVITED_URL = "{% url 'main:single_user_invited' %}";
      var NOTIFICATION_URL = "{% url 'main:notifications' %}";
      var DEBUG_APP_REQUESTS = {% if DEBUG_APP_REQUESTS %}true{% else %}false{% endif %};
      FB.init({
        appId  : '{{FACEBOOK_APP_ID}}',
        frictionlessRequests: true
      });
      FB.Canvas.setAutoGrow();
    </script>
    <script src="{% static 'js/base.js' %}"></script>
    {% block scripts %}{% endblock %}
  </body>
</html>
