<!doctype html>

{% load static from staticfiles %}
{% load url from future %}

<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>{% block meta_title %}Fight for the Future{% endblock %}</title>
    <meta name="description" content="{% block meta_description %}Fight for the Future{% endblock %}">
    <meta name="author" content="Fight for the Future">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.modal.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% block css %}{% endblock %}
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-35232596-1']);
      _gaq.push(['_trackPageview']);
      var _kmq = _kmq || [];
      var _kmk = _kmk || '{{ KM_CODE }}';
      setTimeout(function() {
          function addScript(src) {
            var sc = document.createElement('script'); sc.type = 'text/javascript'; sc.async = true; sc.src = src;
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(sc, s);
          }
          addScript(('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js');
          addScript('//i.kissmetrics.com/i.js');
          addScript('//doug1izaerwt3.cloudfront.net/' + _kmk + '.1.js');
        }, 1);
      {% if my_uid %}_kmq.push(['identify', '{{ my_uid }}']);{% endif %}
      {% if traffic_source %}_kmq.push(['record', 'Traffic source: {{ traffic_source }}']);{% endif %}
    </script>
  </head>
  <body>
    <div id="fb-root"></div>

    <header>
        <div class="inner cf">

            <div class="logo">
                <h1>Vote for the Internet</h1>
                <p>Get more of your friends to vote than you ever thought possible.</p>
            </div>

            <div class="score cf">
                <h2>{{ fb_user.first_name }} {{ fb_user.last_name }}</h2>
                <figure>
                    <img src="{{ fb_user.pic }}" />
                </figure>
                <ul class="user">
                    <li class="{{ vwf_user.registered|lower }}">
                        {% if vwf_user.registered %}
                            Registered
                        {% else %}
                            Haven't Registered
                        {% endif %}
                    </li>
                    <li class="{{ vwf_user.pledged|lower }}">
                        {% if vwf_user.pledged %}
                            Pledged
                        {% else %}
                            Haven't Pledged
                        {% endif %}
                    </li>
                    <li class="{{ vwf_user.voted|lower }}">
                        {% if vwf_user.voted %}
                            Voted
                        {% else %}
                            Haven't Voted
                        {% endif %}
                    </li>
                </ul>
                <ul class="friends">
                    <li><strong class="num">{{ vwf_user.num_friends_invited }}</strong> Friends Invited</li>
                    <li><strong class="num">{{ vwf_user.num_friends_pledged }}</strong> Friends Pledged</li>
                    <li class="voted"><strong class="num">{{ vwf_user.num_friends_voted }}</strong> Friends Voted</li>
                </ul>
            </div>

        </div>
    </header>

      {% block nav %}
          <ul id="nav">
            <li><a href="{% url 'main:missions' %}" {% if page == "missions" %}class="selected"{% endif %}>MISSIONS</a></li>
            <li><a href="{% url 'main:pledge' %}" {% if page == "pledge" %}class="selected"{% endif %}>PLEDGE TO VOTE</a></li>
            <li><a href="{% url 'main:register_widget' %}" {% if page == "register" %}class="selected"{% endif %}>REGISTER</a></li>
            <li><a href="{% url 'main:invite_friends_2' %}" {% if page == "friends" %}class="selected"{% endif %}>MY FRIENDS</a></li>
          </ul>
      {% endblock nav %}
    {% if messages %}
    <div class="notification">
        {% for message in messages %}
        <div{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</div>
        {% endfor %}
    </div>
    {% endif %}
    <div class="content cf">
        {% block content %}{% endblock %}
    </div>
    <a class="invite-friends" href="javascript:void(0)">
      <i class="icon-invite"></i>
      <span>Invite<br>Friends</span>
    </a>
    <a class="feedback" href="mailto:team+vwf@fightforthefuture.org">Feedback?</a>
    {% block modals %}{% endblock %}
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/bootstrap.modal.js' %}"></script>
    <script src="https://connect.facebook.net/en_US/all.js"></script>
    <script>
      var FACEBOOK_CANVAS_PAGE = "{{FACEBOOK_CANVAS_PAGE}}";
      var SINGLE_USER_INVITED_URL = "{% url 'main:single_user_invited' %}";
      FB.init({
        appId  : '{{FACEBOOK_APP_ID}}',
        frictionlessRequests: true
      });
      FB.Canvas.setAutoGrow();
    </script>
    <script src="{% static 'js/base.js' %}"></script>
    {% block scripts %}{% endblock %}
  </body>
</html>
