.content h1 {
    text-align: center;
    color: #2c2c2c;
    margin: 20px 0 20px;
    font-size: 40px;
}

.content p {
    text-align: center;
}

.content a {
    text-decoration: underline;
    color: #184cca;
    margin: 20px 0 20px;
}