
.voting-blocks .note {
    padding: 22px;
    border: 1px solid #d4cfb1;
    color: #6d5305;
    font-size: 13px;
    background-color: #fff8a0;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    margin: 20px 0 0 0;
}

.voting-blocks .note p {
    margin: 0;
    padding: 0;
}

.voting-blocks .note p + p {
    margin: 12px 0 0 0;
}

.voting-blocks .note p a {
    font-weight: bold;
    text-decoration: underline;
}

.voting-blocks .note .close {
    cursor: pointer;
    margin: 16px auto 0;
    display: block;
    width: 70px;
    text-align: center;
}

.voting-blocks .search {
    margin: 24px 0 0 0;
    width: 410px;
    float: left;
}

.voting-blocks .search-loading {
    display: none;
    position: absolute;
    background: rgba(255, 255, 255, 0.4) url(../img/loading.gif) 50% 130px no-repeat;
    z-index: 1000;
}

.voting-blocks .search .search-input {
    width: 250px;
}


.voting-blocks .search .search-input input {
    border: 1px solid #cacaca;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 15px;
    display: block;
    width: 100%;
    box-sizing: border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing: border-box;
    padding: 8px 30px 7px 32px;
    outline: none;
    background-color: #f0f2f7;
    -webkit-box-shadow: inset 0px 1px 4px 0px rgba(0, 0, 0, 0.13);
    box-shadow: inset 0px 1px 4px 0px rgba(0, 0, 0, 0.13);
}

.voting-blocks .search .search-input:before {
    display: block;
    position: absolute;
    margin: 10px 0 0 8px;
    content: "";
    height: 16px;
    width: 16px;
    background: transparent url(../img/sprite.png) -260px 0 no-repeat;
}

.voting-blocks .search .search-input .clear {
    display: block;
    position: absolute;
    margin: -23px 0 0 226px;
    cursor: pointer;
    height: 14px;
    width: 14px;
    background: transparent url(../img/sprite.png) -280px 0 no-repeat;
    outline: none;
}

.voting-blocks .search h2 {
    font-size: 15px;
    color: #292929;
    font-weight: normal;
    font-family: Montserrat, Helvetica, Arial, "Lucida Grande", sans-serif;
    margin: 0 0 11px 0;
}

.voting-blocks .search ul.search-filters {
    display: block;
    padding: 0;
    float: left;
    height: 29px;
    background: transparent url(../img/filters.png) 0 0 repeat-x;
    margin: 16px 4px 0;
}

.voting-blocks .search ul.search-filters:before {
    display: block;
    content: "";
    width: 5px;
    height: 29px;
    float: left;
    background: transparent url(../img/filters.png) 0 -40px no-repeat;
    margin: 0 0 0 -4px;
}

.voting-blocks .search ul.search-filters:after {
    display: block;
    content: "";
    width: 5px;
    height: 29px;
    float: left;
    background: transparent url(../img/filters.png) 100% -40px no-repeat;
    margin: 0 -4px 0 0;
}

.voting-blocks .search ul.search-filters li {
    display: block;
    float: left;
    height: 21px;
    padding: 4px 0;
    margin: 0 4px 0 0;
}

.voting-blocks .search ul.search-filters li:last-child {
    margin-right: 0;
}

.voting-blocks .search ul.search-filters li span {
    display: block;
    cursor: pointer;
    outline: none;
    height: 20px;
    margin: 0 0 1px 0;
    padding: 0 10px;
    line-height: 20px;
    font-size: 11px;
    color: #383838;
    font-family: Montserrat, Helvetica, Arial, "Lucida Grande", sans-serif;
    text-decoration: none;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.44);
    filter: dropshadow(color=rgba(255, 255, 255, 0.44), offx=0, offy=1);
}

.voting-blocks .search ul.search-filters li.active span,
.voting-blocks .search ul.search-filters li span:hover,
.voting-blocks .search ul.search-filters li span:focus {
    -webkit-box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.1), inset 0px 1px 0px 0px rgba(0, 0, 0, 0.42), 0px 1px 0px 0px rgba(255, 255, 255, 0.51);
    box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.1), inset 0px 1px 0px 0px rgba(0, 0, 0, 0.42), 0px 1px 0px 0px rgba(255, 255, 255, 0.51);
    background-color: #acadad;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    color: #ffffff;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.44);
    filter: dropshadow(color=rgba(0, 0, 0, 0.44), offx=0, offy=1);
}

.voting-blocks .search ul.search-filters li.active:after {
    display: block;
    content: "";
    background: transparent url(../img/filters.png) 50% -80px no-repeat;
    margin: 2px 0 0 0;
    height: 11px;
}

.voting-blocks .search .search-notfound {
    font-family: Montserrat, Helvetica, Arial, "Lucida Grande", sans-serif;
    color: #252525;
    font-size: 14px;
    font-weight: normal;
    margin: 30px 0;
}

.voting-blocks .search ul.search-list {
    list-style: decimal;
    padding: 0 0 0 20px;
    margin: 10px 0 0 0;
    font-size: 15px;
    font-family: Montserrat, Helvetica, Arial, "Lucida Grande", sans-serif;
}

.voting-blocks .search ul.search-list li {
    margin:  0 0 12px 0;
    padding: 0 0 12px 0;
    border-bottom: 1px dashed #c4c4c4;
}

.voting-blocks .search ul.search-list li > a {
    float: right;
    font: 16px/1 Montserrat, Helvetica, Arial, "Lucida Grande", sans-serif;
    display: block;
    text-shadow: none;
    padding: 5px 14px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.3);
    box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.3);
}

.voting-blocks .search ul.search-list li .name {
    font-size: 15px;
    font-family: Montserrat, Helvetica, Arial, "Lucida Grande", sans-serif;
    color: #4b6cbf;
    text-decoration: underline;
    word-wrap: break-word;
    margin: 0 70px 4px 0;
}

.voting-blocks .search ul.search-list li .members {
    font-size: 13px;
    color: #484848;
    font-weight: bold;
    margin: 0 0 10px 0;
    font-family: Helvetica, Arial, "Lucida Grande", sans-serif;
}

.voting-blocks .search ul.search-list li img {
    float: left;
    width: 80px;
    height: 68px;
    border: 3px solid white;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.22);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.22);

}

.voting-blocks .search ul.search-list li .description {
    float: left;
    width: 280px;
    margin: 0 0 0 16px;
    color: #484848;
    font-weight: normal;
    font-family: Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 12px;
    word-wrap: break-word;
}


.voting-blocks .own {
    width: 240px;
    margin: 24px 0 0 36px;
    float: left;
}

.voting-blocks .own > a {
    padding: 12px 0 10px;
    text-align: center;
    font-size: 16px;
    display: block;
}

.voting-blocks .own > a i {
    padding-right: 4px;
}

.voting-blocks .own > p {
    font-size: 12px;
    color: #292929;
    margin: 2px 0 0 0;
}

.voting-blocks .own h2 {
    padding: 0;
    font-size: 13px;
    font-family: Montserrat, Helvetica, Arial, "Lucida Grande", sans-serif;
    color:#000000;
    margin: 18px 0 0 0;
    font-weight: normal;
}

.voting-blocks .own ul {
    list-style: none;
    padding: 0;
    margin: 10px 0 0 0;
}

.voting-blocks .own ul li {
    margin:  0 0 12px 0;
    padding: 0 0 12px 0;
    border-bottom: 1px dashed #c4c4c4;
}

.voting-blocks .own ul li .name {
    margin: 0;
    padding: 0;
    color: #292929;
    font-size: 13px;
    font-family: Montserrat, Helvetica, Arial, "Lucida Grande", sans-serif;
}

.voting-blocks .own ul li .name a {
    color: #4b6cbf;
    word-wrap: break-word;
}

.voting-blocks .own ul li .count {
    margin: 2px 0 0 0;
    color: #484848;
    font-size: 11px;
    font-weight: bold;
}

.voting-blocks .own ul li img {
    float: left;
    width: 56px;
    height: 56px;
    border: 3px solid white;
    margin: 8px 0 0 0;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.22);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.22);
}

.voting-blocks .own ul li .description {
    float: left;
    margin: 8px 0 0 14px;
    width: 160px;
    color: #484848;
    font-size: 11px;
    word-wrap: break-word;
}


/* Create */

.voting-blocks-create {

}

.voting-blocks-create .block {
    margin: 20px 0;
}

.voting-blocks-create .block .data {
    float: left;
    width: 250px;
}

.voting-blocks-create .sample {
    float: left;
    margin: 0 0 0 28px;
    width: 406px;
}

.voting-blocks-create .sample .info {
    font-size: 13px;
    font-family: Montserrat, Helvetica, Arial, "Lucida Grande", sans-serif;
    margin: 0 0 0 0;
    color: #777777;
}

.voting-blocks-create .sample ul {
    list-style: decimal;
    padding: 0 0 0 20px;
    margin: 10px 0 0 0;
    font-size: 15px;
    font-family: Montserrat, Helvetica, Arial, "Lucida Grande", sans-serif;
}

.voting-blocks-create .sample ul li {
}

.voting-blocks-create .sample ul li .name {
    font-size: 15px;
    font-family: Montserrat, Helvetica, Arial, "Lucida Grande", sans-serif;
    color: #4b6cbf;
    text-decoration: underline;
    margin: 0 0 4px 0;
}

.voting-blocks-create .sample ul li .members {
    font-size: 13px;
    color: #484848;
    font-weight: bold;
    margin: 0 0 10px 0;
    font-family: Helvetica, Arial, "Lucida Grande", sans-serif;
}

.voting-blocks-create .sample img {
    float: left;
    width: 80px;
    height: 68px;
    border: 3px solid white;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.22);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.22);

}

.voting-blocks-create .sample .description {
    float: left;
    width: 200px;
    margin: 0 0 0 16px;
    color: #484848;
    font-weight: normal;
    font-family: Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 12px;
}

.voting-blocks-create .data p {
    margin: 6px 0 0 0;
    color: #292929;
    font-size: 12px;
    text-align: right;
    float: right;
}

.voting-blocks-create .data input[type=text] {
    border: 1px solid #babfc6;
    background-color: #eaeef5;
    font-size: 13px;
    padding: 10px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    outline: none;
    width: 100%;
    box-sizing: border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing: border-box;
    font-family: Helvetica, Arial, "Lucida Grande", sans-serif;
}

.voting-blocks-create .data .field-error input[type=text] {

}

.voting-blocks-create .data .field-error label {

}

.voting-blocks-create .data .field {
    *zoom: 1;
}

.voting-blocks-create .data .field:after,
.voting-blocks-create .data .field:before {
    content: "";
    display: table;
}

.voting-blocks-create .data .field:after {
    clear: both;
}


.voting-blocks-create .data .field + .field {
    margin: 10px 0 0 0;
}

.voting-blocks-create .data label {
    display: inline;
}

.voting-blocks-create .data input[type=file] {
    width: 160px;
    display: inline;
}

.voting-blocks-create .data .field-error ul {
    display: block;
    padding: 0;
    margin: 6px 0 0 0;
    list-style: none;
    float: left;
    font-size: 12px;
    color: #ff0000;
}

.voting-blocks-create .data .field-error ul li {
    display: inline;
}

.voting-blocks-create .note {
    padding: 22px;
    border: 1px solid #d4cfb1;
    color: #6d5305;
    font-size: 13px;
    background-color: #fff8a0;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.voting-blocks-create .note a {
    font-weight: bold;
    text-decoration: underline;
}


.voting-blocks-create h2 {
    color: #292929;
    font-family: Montserrat, Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 16px;
    font-weight: normal;
    margin: 20px 0 14px 0;
}

.voting-blocks-create h2 em {
    color: #484848;
    font-family: TeXGyrePagellaItalic, Helvetica, Arial, "Lucida Grande", sans-serif;
    font-style: normal;
}

.voting-blocks-create .sample .organization {
    color: #484848;
    font-size: 13px;
    padding: 12px 12px 16px 12px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow:  0px 1px 5px 0px rgba(0, 0, 0, 0.36);
    box-shadow:  0px 1px 5px 0px rgba(0, 0, 0, 0.36);
    background: #fafafa; /* Old browsers */
    background: -moz-linear-gradient(top,  #fafafa 0%, #e7e7e7 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fafafa), color-stop(100%,#e7e7e7)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #fafafa 0%,#e7e7e7 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #fafafa 0%,#e7e7e7 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #fafafa 0%,#e7e7e7 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #fafafa 0%,#e7e7e7 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#e7e7e7',GradientType=0 ); /* IE6-9 */
}

.voting-blocks-create .actions {
    margin: 38px 0 0 0;
}

.voting-blocks-create .actions a,
.voting-blocks-create .actions input {
    width: 192px;
}


/* item */
.voting-blocks-item {
    width: 720px;
    margin: 0 auto;
}


.voting-blocks-item h1 {
    font-size: 53px;
    font-family: BebasNeueRegular, Helvetica, Arial;
    text-transform: uppercase;
    color: #3e4b63;
    margin: 0 auto;
    font-weight: normal;
    text-align: center;
    word-wrap: break-word;
}

.voting-blocks-item h2 {
    color: #3b579a;
    text-align: center;
    font-size: 16px;
    margin: 0 auto 0;
    font-family: Montserrat, Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: normal;
    word-wrap: break-word;
}

.voting-blocks-item .info {
    background: transparent url(../img/friends-back.png) 50% 0 no-repeat;
    margin: 20px 0 0 0;
    padding: 26px 0 0 0;
}

.voting-blocks-item .info img {
    float: left;
    height: 280px;
    width: 436px;
    border: 3px solid white;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.22);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.22);
}

.voting-blocks-item .info .data {
    float: left;
    width: 246px;
    margin: 0 0 0 32px;
}

.voting-blocks-item .info .data p.count {
    font-size: 12px;
    color: #3e4b63;
    margin: 0;
    padding: 0;
    line-height: 32px;
}

.voting-blocks-item .info .data p.count strong {
    font-size: 44px;
}

.voting-blocks-item .info .data .join,
.voting-blocks-item .info .data .invite{
    display: block;
    margin: 10px 0 0 0;
    font-size: 16px;
    padding: 10px 12px;
}

.voting-blocks-item .info .data .leave {
    color: #3f3f3f;
    text-decoration: underline;
    font-weight: bold;
    display: inline-block;
    margin: 10px 0 0 0;
    font-size: 12px;
}

.voting-blocks-item .info .data .organization {
    color: #151515;
    margin: 10px 0 0 0;
    font-size: 11px;
}

.voting-blocks-item .info .data .organization a {
    text-decoration: underline;
    font-weight: bold;
    color: #151515;
}

.voting-blocks-item .sections {
    display: table;
    margin: 22px auto 12px;
    padding: 0;
}

.voting-blocks-item .sections li {
    display: table-cell;
    padding: 0 0 3px 0; /* for box <a> shadow */
}

.voting-blocks-item .sections li a {
    display: block;
    padding: 12px 18px 10px;
    text-decoration: none;
    color: #000;
    text-align: center;
    font-size: 12px;
    font-family: Montserrat, Helvetica, Arial, "Lucida Grande", sans-serif;
    border-bottom: 1px solid transparent;
}

.voting-blocks-item .sections li.active a,
.voting-blocks-item .sections li a:hover,
.voting-blocks-item .sections li a:focus {
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border-bottom: 1px solid #f1f1f1;
    -webkit-box-shadow:  0px 2px 1px 0px rgba(0, 0, 0, 0.4);
    box-shadow:  0px 2px 1px 0px rgba(0, 0, 0, 0.4);
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top,  #ffffff 0%, #cbcbcb 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#cbcbcb)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ffffff 0%,#cbcbcb 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ffffff 0%,#cbcbcb 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ffffff 0%,#cbcbcb 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #ffffff 0%,#cbcbcb 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#cbcbcb',GradientType=0 ); /* IE6-9 */
}

.voting-blocks-item .sections li {
    padding: 0 6px;
    border-right: 1px solid #808080;
}

.voting-blocks-item .sections li:first-child {
    padding-left: 0;
}

.voting-blocks-item .sections li:last-child {
    padding-right: 0;
    border-right: none;
}

.voting-blocks-item .sections li a span {
    display: block;
}

.voting-blocks-item .sections li a span strong {
    color: #b1085e;
    display: inline-block;
    padding-left: 4px;
}

#voting-block-create-organization-modal {
    background-color: #FFF8A0;
}

#voting-block-create-organization-modal .modal-header {
    border: none;
}

#voting-block-create-organization-modal .modal-header h3 {
    color: #6D5305;
}

#voting-block-create-organization-modal .modal-body {
    color: #6D5305;
    margin: 0 20px;
    font-size: 16px;
    line-height: 1.6em;
    font-weight: normal;
}

.social{
    margin-top: 12px;
}
    .social .twitter-share-button{
        position: relative;
        top: 3px;
    }
