<div class="box cf friend-box" data-batch-id="{{batch.id}}" data-batch-type="{{batch.type}}">
  <div class="friends">
    {% for f in batch.friendships %}<img data-uid="{{f.fb_uid}}" src="https://graph.facebook.com/{{f.fb_uid}}/picture">{% endfor %}
  </div>
  <div class="text">
    <h2>{{ batch.title }}</h2>
    {% if batch.type == 1 %}
      <p>These friends look like they were younger than 18 during the last election, so they've never voted before. Make sure they're registered!</p>
    {% elif batch.type == 2 %}
      <p>These friends are living far from their hometown. They might not be registered yet in their new home!</p>
    {% elif batch.type == 3 %}
      <p>If you get a ton of {{ batch.city }} friends registered, who knows? Maybe you could elect one of them mayor!</p>
    {% elif batch.type == 4 %}
      <p>{{ batch.short_description }} are not registered to vote! Help them out!</p>
    {% elif batch.type == 5 %}
      <p>{{ batch.short_description }} haven't pledged to vote yet. Help get them pledged!</p>
    {% endif %}
    </p>
    <a href="javascript:void(0)" class="btn btn-large btn-green"><i class="icon-ok"></i> {% if batch.type == 5 %}Invite them{% else %}Register them{% endif %}</a>
  </div>
</div>
