{% load main_extras %}

<div class="main-friends cf">
  <h2>Your friends will be voting!</h2>
  <div class="cf">
{% for f in friends %}
  <div class="main-friends-friend">
    <img src="{{f.picture_url}}" alt="{{f.name}}"/>
    <span class="name">{{f.name}}</span>
    <span class="info"></span>
    {% friend_progress f.registered "Registered" %}
    {% friend_progress f.pledged "Pledged" %}
    {% if f.invited_pledge_count == 0 %}
        {% comment %}Translators: message to user if they've invited 0 friends{% endcomment %}
        <span class="progress progress-inactive"><i class="icon-mini-empty"></i> {% blocktrans %}Invited 0 friends{% endblocktrans %}</span>
    {% else %}
        {% comment %}Translators: message to user if they've invited more than 0 friends{% endcomment %}
        <span class="progress progress-active"><i class="icon-mini-ok"></i> {% blocktrans %}Invited {{ f.invited_pledge_count }} friend{{ f.invited_pledge_count|pluralize }}{% endblocktrans %}</span>
    {% endif %}
  </div>
{% endfor %}
  </div>
</div>
