{% load i18n %}

{% for friend in friends %}
<span class="friend_to_invite">
  <img src="{{friend.picture_url}}" alt="{{friend.name}}">
  <span>{{friend.name}}</span>
  {% if friend.invited %}
  <span><i class="icon-smallcheck-green"></i> {% blocktrans %}invited{% endblocktrans %}</span>
  {% else %}
  <span class="uninvited"><i class="icon-smallx-gray"></i> {% blocktrans %}not invited{% endblocktrans %}</span>
  <span style="display: none" class="invited"><i class="icon-smallcheck"></i> {% blocktrans %}invited{% endblocktrans %}</span>
  {% endif %}
  <span data-friend-fbuid="{{ friend.fb_uid }}">
    {% if friend.invited %}
    <a href="javascript:void(0)" class="invited invite"><i class="icon-smallcheck-white"></i> {% blocktrans %}Send Reminder{% endblocktrans %}</a>
    {% else %}
    <a href="javascript:void(0)" class="uninvited invite"><i class="icon-chat-white"></i> {% blocktrans %}Send 1st Message{% endblocktrans %}</a>
    <a style="display: none" href="javascript:void(0)" class="invited invite"><i class="icon-smallcheck-white"></i> {% blocktrans %}Send Reminder{% endblocktrans %}</a>
    {% endif %}
  </span>
</span>
{% endfor %}
