{% load url from future %}{% load i18n %}{% if friends %}
    
    <ul class="cf">
        {% for friend in friends %}
            <li>

                <figure>
                    <img src="{{friend.picture_url}}" alt="{{friend.name}}" />
                </figure>

                <h2>{{ friend.name }}</h2>

                {% if friend.invited %}
                    <div class="invited status">{% blocktrans %}invited{% endblocktrans %}</div>
                    {% if friend.pledged %}
                        <div class="invited pledged status">{% blocktrans %}pledged{% endblocktrans %}</div>
                    {% else %}
                        <div class="invited not-pledged status">{% blocktrans %}not pledged{% endblocktrans %}</div>
                    {% endif %}
                    
                {% else %}
                    <div class="uninvited status">{% blocktrans %}not invited{% endblocktrans %}</div>
                    <div style="display: none" class="invited status">{% blocktrans %}invited{% endblocktrans %}</div>
                    {% if friend.pledged %}
                        <div style="display: none" class="invited pledged status">{% blocktrans %}pledged{% endblocktrans %}</div>
                    {% else %}
                        <div style="display: none" class="invited not-pledged status">{% blocktrans %}not pledged{% endblocktrans %}</div>
                    {% endif %}
                {% endif %}

                <div class="action" data-friend-fbuid="{{ friend.fb_uid }}">
                    {% if friend.invited %}
                        <a href="javascript:void(0)" class="invited invite btn btn-blue">{% blocktrans %}Send Reminder{% endblocktrans %}</a>
                    {% else %}
                        <a href="javascript:void(0)" class="uninvited invite btn btn-green">{% blocktrans %}Invite{% endblocktrans %}</a>
                        <a style="display: none" href="javascript:void(0)" class="invited invite btn btn-blue">{% blocktrans %}Send Reminder{% endblocktrans %}</a>
                    {% endif %}
                </div>

            </li>
        {% endfor %}
    </ul>

{% else %}{% if not request.is_ajax %}
        
    <div class="empty">
        <p>
            {% if section == "not_invited" %}You've invited all your friends. Thanks for inviting so many people!</p>{% endif %}
            {% if section == "invited" %}You haven't invited any friends. Why don't you <a href="{% url 'main:invite_friends_2' 'not_invited' %}">invite some</a>?</p>{% endif %}
            {% if section == "pledged" %}None of your friends have pledged. <a href="{% url 'main:invite_friends_2' 'not_invited' %}">Invite some more friends</a> to see if they will.</p>{% endif %}
            {% if section == "registered" %}None of your friends are registered to vote. Do your civic duty and <a href="{% url 'main:invite_friends_2' 'not_invited' %}">make sure they're registered</a>!</p>{% endif %}
        </p>
    </div>

{% endif %}{% endif %}