{% if batch_type == 1 %}
<h1>Mission 1: Young voters</h1>
<p>Your friends who have turned 18 within the past 4 years. Make sure they're registered!</p>
{% elif batch_type == 2 %}
<h1>Mission 2: Far from home</h1>
<p>These friends live in a different state than the one they were born in.  Make sure they're registered and know where to vote!</p>
{% elif batch_type == 3 %}
<h1>Mission 3: My city</h1>
<p>These friends live in the same city as you.  But will they vote?</p>
{% elif batch_type == 4 %}
<h1>Mission 4: The Unregistered</h1>
<p>In a search of public voting records using their Facebook data, these friends don't show up.  Make sure they're registered!</p>
{% endif %}
