{% load url from future %}
<div class="choose-mission">
    <div class="choose-mission-title">
        Choose your mission
    </div>
    <ul class="choose-mission-body">
        {% for mission in missions %}
        <li{% if batch_type == mission.type %} class="active"{% endif %}>
        <a href="{% url 'main:mission' mission.type %}">
            <span>
            {% if mission.type == 1 %}
            Young voters
            {% elif mission.type == 2 %}
            Far from home
            {% elif mission.type == 3 %}
            My City
            {% elif mission.type == 4 %}
            The Unregistered
            {% endif %}
            </span>
            <span><strong>{{mission.pledged_count}}</strong>/{{mission.count}} <em>Pledged</em></span>
        </a>
        </li>
        {% endfor %}
    </ul>
</div>
