{% extends "base.html" %}

{% load i18n %}
{% load static %}
{% load url from future %}

{% block nav %}{% endblock nav %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/safari.css' %}">
{% endblock %}

{% block content %}
<div class="main-content cf">
  <div id="content" style="display: none">
    <div class="main-content-message">

      {% comment %}Translators: title on page displayed to Safari users that forces them to interact with the page{% endcomment %}
      <h2>{% trans "Help us get more Americans to vote than ever before." %}</h2>
    </div>
    <div class="main-content-message">

      {% comment %}Translators: text of button on page displayed to Safari users that forces them to interact with the page{% endcomment %}
      <a href="{% url 'main:no_cookies' %}?{{query_string}}" target="_blank" class="btn btn-large btn-green">{% trans "Get started!" %}</a>

    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
  <script type="text/javascript">
    if (document.cookie.length > 1) {
      window.location.replace("/");
    }
    else {
      $("#content").show();
    }
  </script>
{% endblock %}
