{% extends "base.html" %}

{% load static from staticfiles %}
{% load url from future %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/progressbar.css' %}">
{% endblock %}

{% block content %}
<div class="blackbar">
  <div class="title">Help your friends vote!</div>
  <div class="text"><strong class="primary"><span class="num-registered">{{ num_registered }}</span></strong> registered and <strong class="primary"><span class="num-pledged">{{ num_pledged }}</span></strong> pledged out of <strong><span>{{ num_friends }}</span></strong> friends</div>
</div>
<div class="boxes" id="friend-boxes">
{% for batch in uninvited_batches %}
  {% include "_batch.html" with batch=batch %}
{% endfor %}
{% if still_loading %}
<div class="loadingbox">
  <div class="progress-bar orange stripes">
    <span style="width: 0%"></span>
  </div>
  <p>Searching your friends' voting records</p>
</div>
{% endif %}
</div>
{% endblock %}

{% block scripts %}
<script>
  var stillLoading = {% if still_loading %}true{% else %}false{% endif %};
  var FETCH_UPDATED_BATCHES_URL = "{% url 'main:fetch_updated_batches' %}";
  var MARK_BATCH_INVITED_URL = "{% url 'main:mark_batch_invited' %}";
  var MY_CITY = {% if my_city %}"{{ my_city }}"{% else %}"my city"{% endif %};
</script>
<script src="{% static 'js/invite_friends.js' %}"></script>
{% endblock %}
