{% extends "base.html" %}

{% load i18n %}
{% load static from staticfiles %}
{% load url from future %}


{% block css %}
    
{% endblock css %}


{% block content %}

    <ul class="filters">

        {% comment %}Translators: group of friends the user hasn't yet invited to the app{% endcomment %}
        <li{% if section == "not_invited" %} class="selected"{% endif %} id="uninvited_friends"><a href="{% url 'main:invite_friends_2' 'not_invited' %}">Not Invited <span class="count">(<span class="num">{{ num_uninvited }}</span>)</span></a></li>

        {% comment %}Translators: group of friends the user has invited to the app but who have not yet pledged{% endcomment %}
        <li{% if section == "not_pledged" %} class="selected"{% endif %} id="not_pledged_friends"><a href="{% url 'main:invite_friends_2' 'not_pledged' %}">Not pledged <span class="count">(<span class="num">{{ num_not_pledged }}</span>)</span></a></li>

        {% comment %}Translators: group of friends the have registered to vote{% endcomment %}
        <li{% if section == "registered" %} class="selected"{% endif %}><a href="{% url 'main:invite_friends_2' 'registered' %}">Registered <span class="count">({{ num_registered }})</span></a></li>

        {% comment %}Translators: group of friends who have pledged to vote{% endcomment %}
        <li{% if section == "pledged" %} class="selected"{% endif %}><a href="{% url 'main:invite_friends_2' 'pledged' %}">Pledged <span class="count">({{ num_pledged }})</span></a></li>

        {% comment %}Translators: group of friends that have voted{% endcomment %}
        <li{% if section == "voted" %} class="selected"{% endif %}><a href="{% url 'main:invite_friends_2' 'voted' %}">Voted <span class="count">({{ num_voted }})</span></a></li>

    </ul>

    <div class="main-content cf" id="friends">
        {% include "_invite_friends_page.html" %}
        {% if friends %}
        {% include "_invite_friends_buttons.html" %}
        {% endif %}
    </div>

{% endblock %}


{% block scripts %}
    <script>
        var MARK_INVITED_URL = "{% url 'main:mark_individual_invited' %}";
        var SHARE_LINK = "{{ share_url }}{% url 'main:share' %}";
        var FACEBOOK_CANVAS_PAGE = "{{FACEBOOK_CANVAS_PAGE}}";
        var LOAD_MORE_URL = "{% url 'main:invite_friends_2_page' section %}";
    </script>
    <script src="{% static 'js/invite_friend_grid.js' %}"></script>

    {% if not vwf_user.seen_initial_prompt or force_prompt %}
        <script type="text/javascript">
            jQuery(function(){
                prompt.modal();
            })
        </script>
    {% endif %}

{% endblock %}
