{% extends "base.html" %}

{% load static from staticfiles %}
{% load url from future %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/main.css' %}">
{% endblock %}

{% block content %}
<div class="main-content">
{% if not fetched %}
  Loading...
{% else %}
  {% include "_main_content.html" %}
{% endif %}
</div>
<div class="friends-content">
{% if friends %}
  {% include "_main_friends.html" %}
{% endif %}
</div>
{% endblock %}

{% block js %}
<script type="text/javascript">
  var LOAD = {% if fetched %}false{% else %}true{% endif %};
  var LOAD_FRIENDS = {% if friends %}false{% else %}true{% endif %};
  var FETCH_ME_URL = '{% url "main:fetch_me" %}';
  var FETCH_FRIENDS_URL = '{% url "main:fetch_friends" %}';
</script>
<script type="text/javascript" src="{% static 'js/main_index.js' %}"></script>
{% endblock %}
