{% extends "base.html" %}

{% load i18n %}
{% load static from staticfiles %}
{% load url from future %}

{% block css %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'css/mission.css' %}">
{% endblock css %}

{% block content %}
{% include "_mission_filters.html" %}
<div class="mission-box-wrapper">
    <div class="mission-box white-box">
        {% include "_mission_header.html" %}
        <div class="cf">
            {% include "_mission_mass_invites.html" %}
            {% include "_mission_badges.html" %}
        </div>
        <div class="mission-box-individual">
          <h2 class="cf">Individual Invites</h2>
          <div id="friends">
            {% include "_invite_friends_page.html" %}
            {% include "_invite_friends_buttons.html" %}
          </div>
        </div>
    </div>
</div>
{% endblock %}


{% block scripts %}
<script>
  var MARK_INVITED_URL = "{% url 'main:mark_individual_invited' %}";
  var FACEBOOK_CANVAS_PAGE = "{{FACEBOOK_CANVAS_PAGE}}";
  var LOAD_MORE_URL = "{% url 'main:mission_friends_page' batch_type %}";
  var MARK_MISSION_BATCH_INVITED = "{% url 'main:mark_mission_batch_invited' batch_type %}";
</script>
<script src="{% static 'js/invite_friend_grid.js' %}"></script>
<script src="{% static 'js/mass_invites.js' %}"></script>
{% endblock %}
