{% extends "base.html" %}

{% load i18n %}
{% load static from staticfiles %}
{% load url from future %}

{% block css %}{% endblock css %}

{% block content %}
{% include "_mission_filters.html" %}  
<div>
  {% include "_mission_header.html" %}
  <div>
    <div class="mass-invites">
      <div id="next-to-invite">
        {% if uninvited_batch %}
          {% include "_mission_facegrid.html" with batch=uninvited_batch %}
          <a href="javascript:void(0)" data-id="{{uninvited_batch.id}}">Invite them</a>
        {% else %}
        <span>Looks like you've invited all your friends for Mission {{batch_type}}.</span>
        {% endif %}
      </div>
      <div id="last-invited">
        {% if last_invited_batch %}
          {% include "_mission_facegrid.html" with batch=last_invited_batch %}
          <a href="javascript:void(0)">Invited</a>
        {% endif %}
      </div>
    </div>
    <div class="badges"></div>
  </div>
  <h3>INDIVIDUAL INVITES</h3>
  <div id="friends">
    {% include "_invite_friends_page.html" %}
    <a href="javascript:void(0)" id="load_more_friends" class="load-more">Load More Friends</a>
  </div>
</div>
{% endblock %}


{% block scripts %}
<script>
  var MARK_INVITED_URL = "{% url 'main:mark_individual_invited' %}";
  var FACEBOOK_CANVAS_PAGE = "{{FACEBOOK_CANVAS_PAGE}}";
  var LOAD_MORE_URL = "{% url 'main:mission_friends_page' batch_type %}";
</script>
<script src="{% static 'js/invite_friend_grid.js' %}"></script>
{% endblock %}
