{% extends "_base_my_vote.html" %}

{% load i18n %}
{% load static from staticfiles %}
{% load url from future %}

{% block content %}

    <div class="main-content cf">

        <div class="main-content-message">

            {% if user.pledged %}

                {% comment %}Translators: title of page where users are asked to pledge to vote, if they've already pledged.{% endcomment %}
                <h2>{% trans "Thanks for pledging to vote!" %}</h2>
                <p>Have you changed your mind?</p>

            {% else %}

                {% comment %}Translators: title of page where users are asked to pledge to vote{% endcomment %}
                <h2>{% trans "Do you pledge to vote in this election?" %}</h2>

            {% endif %}
        </div>

        <div class="main-content-buttons">

            {% if user.pledged %}

                <form action="{% url 'main:unpledge' %}" method="post">
                    {% csrf_token %}
                    {% comment %}Translators: text of the button a user presses to unpledge{% endcomment %}
                    <button class="btn btn-large" type="submit"><i class="icon-cancel"></i> {% trans "I'm not ready to pledge yet" %}</button>
                </form>
                
            {% else %}

                {% comment %}Translators: text of the button a user presses to pledge to vote{% endcomment %}
                <a id="pledge" href="javascript:void(0)" class="btn btn-large btn-green"><i class="icon-ok"></i> {% trans "Yes, I pledge to vote" %}</a>

            {% endif %}

        </div>

        <div class="main-content-message">

            {% if not user.pledged %}
                
                {% comment %}Translators: consent to post action to timeline{% endcomment %}
                <p class="check-container"><label for="tell-friends"><input type="checkbox" name="tell-friends" id="tell-friends" checked="checked" /> {% blocktrans %}Tell my friends I'm voting (this will post to your Timeline){% endblocktrans %}</a></p>

                {% if voting_block and voting_block.has_backing_organization %}
                    <p class="check-container"><label for="join-block"><input type="checkbox" name="join-block" id="join-block" checked="checked" /> Join the <strong>{{ voting_block.name }}</strong> voting block? This will share your name and email with {% if voting_block.organization_website %}<a href="{{ voting_block.organization_website }}" target="_blank">{% endif %}{{ voting_block.organization_name }}{% if voting_block.organization_website %}</a>{% endif %} (<a href="{{ voting_block.organization_privacy_policy }}" target="_blank">Privacy Policy</a>)</a></p>
                {% endif %}

                <a href="{% url 'main:invite_friends_2' %}" id="deny">No, I can't pledge yet</a>

            {% endif %}

        </div>

    </div>

{% endblock %}

{% block modals %}
    {% include "_pledge_modal.html" with modal_id="pledge-modal" %}
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script>
        var SUBMIT_PLEDGE_URL = "{% url 'main:submit_pledge' %}";
    </script>
    <script type="text/javascript" src="{% static 'js/pledge.js' %}"></script>
{% endblock %}
