{% extends "friends_listing_base.html" %}

{% load static from staticfiles %}
{% load url from future %}

{% block topcontent %}
<div class="main-content-message">
  <h2>Will you pledge to vote in this election?</h2>
</div>
<div class="main-content-buttons">
  <a id="pledge" href="javascript:void(0)" class="btn btn-large btn-green"><i class="icon-ok"></i> Yes, I pledge to vote</a>
  <a href="{% url 'main:invite_friends' %}" class="btn btn-large"><i class="icon-cancel"></i> No, not ready to pledge yet</a>
</div>
<div class="main-content-message">
  <p><strong>Why does pledging matter?</strong> Because your friends will see that you've pledged. So just by pledging, you're encouraging your friends to vote.</p>
</div>
{% endblock %}

{% block modals %}
{% include "_pledge_modal.html" with modal_id="pledge-modal" %}
{% endblock %}

{% block scripts %}
{{ block.super }}
<script>
  var SUBMIT_PLEDGE_URL = "{% url 'main:submit_pledge' %}";
</script>
<script type="text/javascript" src="{% static 'js/pledge.js' %}"></script>
{% endblock %}
