{% extends "base.html" %}

{% load static from staticfiles %}
{% load url from future %}

{% block css %}
<link rel="stylesheet" href="https://voterreg-prod.s3.amazonaws.com/widget/include.css">
{% endblock %}

{% block content %}
<script type="text/javascript">
  _voterreg_qs = "_fb_prefill&{{ widget_qs|safe }}";
</script>
<div class="main-content cf">
  <div class="main-content-message">
    <h2>Register to vote right now at www.internetvotes.org!</h2>
    <h3>It's very easy to register to vote using <a href="http://www.theinternetvotes.org" target="internetvotes">www.internetvotes.org</a></h3>
  </div>
  <div class="main-content-message"><a href="http://www.theinternetvotes.org" target="internetvotes">Register to vote at www.theinternetvotes.org now &gt</a></div>
  <div class="main-content-buttons">
    <a id="registered" href="{% url 'main:pledge' %}?from_widget=true" class="btn btn-large btn-green"><i class="icon-ok"></i> I am done registering</a>
  </div>
  <div class="main-content-message">
    <a href="{% url 'main:invite_friends' %}">Skip registration and start registering friends &gt;</a>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{% static 'js/register_widget.js' %}"></script>
{% endblock %}
