{% extends "base.html" %}

{% load static from staticfiles %}
{% load url from future %}

{% block content %}
<script type="text/javascript">
  _voterreg_qs = "_fb_prefill&{{ widget_qs|safe }}";
</script>
<div class="main-content cf">
  <div class="main-content-message">
    <h2>Are you registered?</h2>
    <a href="javascript:void(0)">Yes, I'm already registered.</a>
  </div>
  <div class="main-content-message">
    <script src="//widget.internetvotes.org/widget/include.js" type="text/javascript" async="async" defer="defer"></script>
    <div id="voterreg_placeholder"></div>
  </div>
  <div class="main-content-buttons">
    
  </div>
</div>
{% endblock %}

{% block scripts %}

{% endblock %}
