{% extends "friends_listing_base.html" %}

{% load static from staticfiles %}
{% load url from future %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/register.css' %}">
{% endblock %}

{% block topcontent %}
<div class="main-content-message">
    <h2>Are you registered to vote?  We can't find a registration for you based on your Facebook info.</h2>
    <p>(We searched for: {{ name }}{% if location %} / {{location}}{% endif %}{% if birthday %} / {{birthday}}{% endif %})</p>
</div>
<div class="main-content-buttons">
  <a id="already-registered" href="javascript:void(0)" class="btn btn-large btn-blue">I'm Registered</a>
  <a href="http://www.theinternetvotes.org" target="internetvotes" class="btn btn-large btn-green"><i class="icon-ok"></i> Register Now</a>
  <br/>
  <span class="note">(Opens in a new window)</span>
</div>
<div class="main-content-message">
  <a id="not-eligible" href="javascript:void(0)">I'm not eligible</a>
</div>
<div class="main-content-extra">
  <span>Not sure if you are registered?   If you're unsure, It’s always best to re-register to update your address and info.  Note: we match user information with voter records.  This information may not be up-to-date, and we may not have enough data to make a match.</span>
</div>
{% endblock %}

{% block scripts %}
{{ block.super }}
<script>
  var ACTUALLY_REGISTERED_URL = "{% url 'main:actually_registered' %}";
  var WONT_VOTE_URL = "{% url 'main:wont_vote' %}";
</script>
<script type="text/javascript" src="{% static 'js/register.js' %}"></script>
{% endblock %}
