{% extends "base.html" %}

{% load static %}
{% load url from future %}

{% block nav %}{% endblock nav %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/safari.css' %}">
{% endblock %}

{% block content %}
<div class="main-content cf">
  <div class="main-content-message">
    <h2>Help us get more Americans to vote than ever before.</h2>
  </div>
  <div class="main-content-message">
    <a href="{% url 'main:safari2' %}?{{query_string}}" target="_blank" 
       class="btn btn-large btn-green">Get started!</a>
  </div>
</div>
{% endblock %}
