{% load staticfiles %}
{% load thumbnail %}
{% load url from future %}
<html>
    <head>
        <title>Redirecting</title>
        <meta property="fb:app_id" content="{{ facebook_app_id }}" />
        <meta property="og:title" content="Vote with Friends" />
        <meta property="og:description" content="Look up your friends' real voting history and make them *promise* to vote on election day." />
        <meta property="og:image" content="https://fbcdn-photos-a.akamaihd.net/photos-ak-snc7/v85006/154/152013131606602/app_104_152013131606602_2031919809.png" />
        <meta property="og:url" content="{{ share_url }}{% url 'main:share' %}" />
        <meta property="og:type" content="website" />
    </head>
    <body>
        <script type="text/javascript">
            window.top.location = 'http://apps.facebook.com/votewithfriends';
        </script>
    </body>
</html>
