{% load static from staticfiles %}

<!doctype html>
<html>
  <head>
    <title>Vote. And help me get all our friends to vote.</title>
    <meta property="og:title" content="Vote.  And help me get all our friends to vote."/>
    <meta property="og:type" content="cause"/>
    <meta property="og:url" content="https://apps.facebook.com/votewithfriends/"/>
    <meta property="og:image" content="{% static 'img/appimage.png' %}"/>
    <meta property="og:description"
          content="The 2012 election is almost here -- are you going to vote?  This app gets you everything you need, and helps you recruit your friends." />
  </head>
  <body>
    <script>
      window.location.assign("https://apps.facebook.com/votewithfriends/?source=invitation");
    </script>
  </body>
</html>
