{% extends "base.html" %}

{% load i18n %}
{% load static from staticfiles %}
{% load url from future %}
{% load thumbnail %}

{% block css %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'css/voting_blocks.css' %}" xmlns="http://www.w3.org/1999/html">
{% endblock css %}

{% block content %}
<div class="voting-blocks-item">
    <h1>{{ voting_block.name }}</h1>
    <h2>{{ voting_block.description }}</h2>
    <div class="info cf">
        <img src="{% thumbnail voting_block.icon 436x280 crop %}" onerror="this.onerror=''; this.src='{% static 'img/voting-block-436x280.png' %}'; return true;">
        <div class="data">
            <p class="count"><strong>{{ voting_block_members_count }}</strong> members</p>
            {% if voting_block_members_today_count > 0 %}
            <p class="count"><strong>{{ voting_block_members_today_count }}</strong> new today</p>
            {% endif %}
            {% if voting_block_joined %}
            <a class="btn btn-blue btn-large invite" href="{% url 'main:voting_blocks_item' id=voting_block.id section='not_invited' %}">Invite Friends</a>
            <a class="leave" href="{% url 'main:voting_blocks_item_leave' id=voting_block.id %}">Leave this voting block</a>
            {% else %}
            <a class="btn btn-green btn-large join" href="{% url 'main:voting_blocks_item_join' id=voting_block.id %}">Join this voting block</a>
            {% endif %}
            {% if voting_block.organization_name %}
            <p class="organization">This voting block belongs to an organization: <a target="_blank" href="{{ voting_block.organization_website }}">"{{ voting_block.organization_name }}"</a>.
               When you join, they can use your name and email according to their <a target="_blank" href="{{ voting_block.organization_privacy_policy }}">Privacy policy</a>.</p>
            {% endif %}
            <div class="social">
                <fb:like href="{{ voting_block.share_url }}" send="true" layout="button_count" width="175" show_faces="false"></fb:like>
                <a href="https://twitter.com/share" class="twitter-share-button" data-url="{{ voting_block.share_url }}" data-text="{{ voting_block.name }}" data-count="none" data-dnt="true">Tweet</a>
            </div>
        </div>
    </div>
    <ul class="sections">
        {% for s in sections %}
        <li class="{% if s.name == section %} active{% endif %}">
            <a href="{% url 'main:voting_blocks_item' id=voting_block.id section=s.name %}">
                <span>{{ s.title }} <strong>({{ s.count }})</strong></span>
            </a>
        </li>
        {% endfor %}
    </ul>
    <div class="white-box">
        <div class="cf" id="friends">
            {% include "_invite_friends_page.html" %}
            {% if friends %}
            {% include "_invite_friends_buttons.html" %}
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
//TODO: target=/my_vote&after=/voting_blocks/3

{% block scripts %}
<script>
    var LOAD_MORE_URL = "{% url 'main:voting_blocks_item_page' id=voting_block.id section=section %}";
    var FACEBOOK_CANVAS_PAGE = "{{FACEBOOK_CANVAS_PAGE}}";
    var INVITE_TARGET_URL = "{{FACEBOOK_CANVAS_PAGE}}?target=/my_vote&after=/voting_blocks/{{ voting_block.id }}";
</script>
<script src="{% static 'js/invite_friend_grid.js' %}"></script>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
{% endblock %}

