{% extends "base.html" %}

{% load i18n %}
{% load static from staticfiles %}
{% load url from future %}
{% load thumbnail %}
{% load clippy %}

{% block css %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'css/voting_blocks.css' %}" xmlns="http://www.w3.org/1999/html">
{% endblock css %}

{% block content %}
<div class="voting-blocks-item">
    <h1>{{ voting_block.name }}</h1>
    <h2>{{ voting_block.description }}</h2>
    <div class="info cf">
        {% thumbnail voting_block.icon 436x280 crop as imgsrc %}
        <div class="image">
            <img src="{% if imgsrc %}{{ imgsrc.url }}{% else %}{% static 'img/voting-block-436x280.png' %}{% endif %}">
            {# include "_disclaimer.html" #}
        </div>
        <div class="data">
            <p class="count"><strong>{{ voting_block_members_count }}</strong> members</p>
            {% if voting_block_members_today_count > 0 %}
            <p class="count"><strong>{{ voting_block_members_today_count }}</strong> new today</p>
            {% endif %}
            <a class="btn btn-blue btn-large invite invite-to-block" href="javascript:void(0)">Invite Friends</a>
            {% if voting_block_joined %}
            <a class="leave" href="{% url 'main:voting_blocks_item_leave' id=voting_block.id %}">Leave this voting block</a>
            {% else %}
            <a class="btn btn-green btn-large join" href="{% url 'main:voting_blocks_item_join' id=voting_block.id %}">Join this voting block</a>
            {% endif %}

            {% if voting_block.has_backing_organization %}
                <p class="organization">This voting block belongs to an organization: {% if voting_block.organization_website %}<a target="_blank" href="{{ voting_block.organization_website }}">{% endif %}"{{ voting_block.organization_name }}"{% if voting_block.organization_website %}</a>{% endif %}. When you join, they can use your name and email according to their <a target="_blank" href="{{ voting_block.organization_privacy_policy }}">Privacy policy</a>.</p>
            {% endif %}

            <div class="social">
                <fb:like href="{{ voting_block.share_url }}" send="true" layout="button_count" width="175" show_faces="false"></fb:like>
                <a href="https://twitter.com/share" class="twitter-share-button" data-url="{{ voting_block.share_url }}" data-text="Join '{{ voting_block.name }}' in Vote With Friends" data-count="none" data-dnt="true">Tweet</a>
            </div>
            <div class="permanent-link">
                <input type="hidden" id="id_permanent_link" value="{{ voting_block.share_url }}">
                <a href="{{ voting_block.share_url }}">{% if voting_block.is_collecting_emails %}Permalink{% else %}Invite link{% endif %}</a>
                {% clippy "id_permanent_link" "#EEEEEE" %}
            </div>
        </div>
    </div>
    <ul class="sections">
        {% for s in sections %}
        <li class="{% if s.name == section %} active{% endif %}">
            <a href="{% url 'main:voting_blocks_item' id=voting_block.id section=s.name %}">
                <span>{{ s.title }} <strong>({{ s.count }})</strong></span>
            </a>
        </li>
        {% endfor %}
    </ul>
    <div class="white-box">
        {% if section == "not_invited" %}
            <div class="cf">
                {% include "_voting_blocks_mass_invites.html" %}
                {% include "_mission_badges.html" %}
            </div>
            <div class="mission-box-individual">
                <h2 class="cf">Individual Invites</h2>
                <div id="friends">
                    {% include "_invite_friends_page.html" %}
                    {% if friends %}
                    {% include "_invite_friends_buttons.html" %}
                    {% endif %}
                </div>
            </div>
        {% else %}
            <div class="cf" id="friends">
                {% include "_invite_friends_page.html" %}
                {% if friends %}
                {% include "_invite_friends_buttons.html" %}
                {% endif %}
            </div>
        {% endif %}
    </div>
</div>
{% endblock %}

{% block scripts %}
{% thumbnail voting_block.icon 90X90 crop as fbimgsrc %}
<script>
    var LOAD_MORE_URL = "{% url 'main:voting_blocks_item_page' id=voting_block.id section=section %}";
    var FACEBOOK_CANVAS_PAGE = "{{FACEBOOK_CANVAS_PAGE}}";
    var MARK_INVITED_URL = "{% url 'main:voting_blocks_item_mark_individual_invited' id=voting_block.id  %}";
    var MARK_BATCH_URL = "{% url 'main:voting_blocks_item_mark_batch_invited' id=voting_block.id  %}";
    var INVITE_LINK = "{{ voting_block.share_url }}";
    var INVITE_NAME = "Join me in the {{ voting_block.name|escapejs }} voting block";
</script>
<script src="{% static 'js/invite_friend_grid.js' %}"></script>
<script src="{% static 'js/voting_blocks_item.js' %}"></script>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

{% if not vwf_user.seen_initial_prompt or force_prompt %}
    <script type="text/javascript">
        jQuery(function(){
            // prompt.modal();
        })
    </script>
{% endif %}

{% endblock %}

