{% load staticfiles %}
{% load thumbnail %}
{% load url from future %}
<html>
    <head>
        <title>Redirecting</title>
        <meta property="fb:app_id" content="{{ facebook_app_id }}" />
        <meta property="og:title" content="{{ block.name }}" />
        <meta property="og:description" content="{{ block.description }}" />
        <meta property="og:image" content="{% thumbnail block.icon 200x200 crop %}" />
        <meta property="og:url" content="{{ block.share_url }}" />
        <meta property="og:type" content="website" />
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-35232596-1']);
      _gaq.push(['_trackPageview']);
      var _kmq = _kmq || [];
      var _kmk = _kmk || '{{ KM_CODE }}';
      setTimeout(function() {
          function addScript(src) {
            var sc = document.createElement('script'); sc.type = 'text/javascript'; sc.async = true; sc.src = src;
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(sc, s);
          }
          addScript(('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js');
          addScript('//i.kissmetrics.com/i.js');
          addScript('//doug1izaerwt3.cloudfront.net/' + _kmk + '.1.js');
        }, 1);
      {% if my_uid %}_kmq.push(['identify', '{{ my_uid }}']);{% endif %}
      _kmq.push(['record', 'block redirect']);
      _kmq.push(['record', 'block redirect {{block.pk}}']);
      _kmq.push(function() {
          {# happy path: analytics load successfully and redirect right afterward #}
          {% comment %}assign cause an permission denied exception in FF{% endcomment %}
          window.top.location = '{{ canvas_url }}?block={{block.pk}}';
      });
    </script>
    </head>
    <body>
        <script type="text/javascript">
            {# for safety, in case analytics fail to load #}
            setTimeout(function() {
                {% comment %}assign cause an permission denied exception in FF{% endcomment %}
                window.top.location = '{{ canvas_url }}?block={{block.pk}}';
            }, 5000);
        </script>
    </body>
</html>
