{% extends "base.html" %}

{% load i18n %}
{% load static from staticfiles %}
{% load url from future %}

{% block css %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'css/voting_blocks.css' %}">
{% endblock css %}

{% block content %}
<form class="voting-blocks-create white-box" method="post" enctype="multipart/form-data">
    <h1>{% trans "Creating a voting block" %}</h1>
    {% csrf_token %}
    <div class="block cf">
        <div class="data">
            <div class="field{% if form.name.errors %} field-error{% endif %}">
                {{ form.name }}
                <p class="help">{% trans "80 chars" %}</p>
                {{ form.name.errors }}
            </div>
            <div class="field{% if form.description.errors %} field-error{% endif %}">
                {{ form.description }}
                <p class="help">{% trans "160 chars" %}</p>
                {{ form.description.errors }}
            </div>
            <div class="field{% if form.icon.errors %} field-error{% endif %}">
                {{ form.icon }}
                <p class="help">{% trans "Optional" %}</p>
                {{ form.icon.errors }}
            </div>
        </div>
        <div class="sample">
            <p class="info">{% trans "Here is how it will look:" %}</p>
            <ul>
                <li>
                    <p id="sample-name" class="name">{% if form.name.value %}{{ form.name.value }}{% else %}Voting block name{% endif %}</p>
                    <p class="members">{% trans "1,234 members" %}</p>
                    <img src="{% static 'img/voting-block.png' %}" />
                    <p id="sample-description" class="description">{% if form.description.value %}{{ form.description.value }}{% else %}Description / share text{% endif %}</p>
                </li>
            </ul>
        </div>
    </div>
    <div class="note">
        <strong>Note</strong>: Before making a new block, search <a href="{% url 'main:voting_blocks' %}">here</a> to be sure someone else hasn't already set one up.
        If you create a voting block for a specific location, include the location the title
        (like this: Girl Scout parents of Westchester MA").
    </div>
    <h2>Collect contact information? <em>(Optional and for qualifying organizations only. <a role="button" data-toggle="modal" href="#voting-block-create-organization-modal">Learn more</a>)</em></h2>
    <div class="block cf">
        <div class="data">
            <div class="field{% if form.organization_name.errors %} field-error{% endif %}">
                {{ form.organization_name }}
                {{ form.organization_name.errors }}
            </div>
            <div class="field{% if form.organization_website.errors %} field-error{% endif %}">
                {{ form.organization_website }}
                {{ form.organization_website.errors }}
            </div>
            <div class="field{% if form.organization_privacy_policy.errors %} field-error{% endif %}">
                {{ form.organization_privacy_policy }}
                {{ form.organization_privacy_policy.errors }}
            </div>
        </div>
        <div class="sample">
            <p class="info">{% trans "Your voting block with show this notice:" %}</p>
            <p class="organization">
                This voting block belonges to an orginization:
                <a target="_blank" id="sample-organization-website" href="{% if form.organization_website.value %}{{ form.organization_website.value }}{% else %}#{% endif %}"><span id="sample-organization-name">{% if form.organization_name.value %}{{ form.organization_name.value }}{% else %}Organization Name{% endif %}</span></a>.
                When you join, they can use your name and email according to their <a target="_blank" id="sample-organization-privacy-policy" href="{% if form.organization_privacy_policy.value %}{{ form.organization_privacy_policy.value }}{% else %}#{% endif %}">Privacy Policy</a>.</p>
        </div>
    </div>
    <div class="actions cf">
        <a class="btn btn-large" href="{% url 'main:voting_blocks' %}">{% trans "Cancel" %}</a>
        <input type="submit" class="btn btn-large btn-green" value="{% trans "Create Voting Block" %}" />
    </div>
</form>
{% endblock %}

{% block modals %}
{% include "_voting_blocks_create_organization_modal.html" with modal_id="voting-block-create-organization-modal" %}
{% endblock %}

{% block scripts %}
<script src="{% static 'js/jquery.fileinput.js' %}"></script>
<script src="{% static 'js/voting_blocks_create.js' %}"></script>
{% endblock %}

