{% extends "base.html" %}

{% load i18n %}
{% load static from staticfiles %}
{% load url from future %}
{% load thumbnail %}

{% block css %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'css/voting_blocks.css' %}">
{% endblock css %}

{% block content %}
<div class="voting-blocks white-box cf">
    <h1>The most powerful way to rally voters for your cause, site, or group</h1>
    {% if not voting_block_note %}
    <div class="note">
        <p><strong>Before you get started!</strong>  Three things to know about voting blocks:</p>
        <p><strong>1)</strong> A voting block is a way to organize specific groups to vote (for example: "First Baptist Church of Detroit, MI", "Coffee Cafe Staff", "Fans of RugLovers.com") or to mobilize people anywhere in the country around a specific issue (like Gun Rights or Gun Control).</p>
        <p><strong>2)</strong> When you create or join a voting block, you’ll be able to invite friends to join it, get them pledged, and see who has voted, whether it’s early voting, absentee, or on election day.</p>
        <p><strong>3)</strong> You can join multiple blocks and anyone can join any voting block (these are not private areas).</p>
        <span class="close" tabindex="0"><i class="icon-close-brown"></i> CLOSE</span>
    </div>
    {% endif %}
    <div class="search">
        <div class="search-loading"></div>
        <h2>Find voting blocks</h2>
        <div class="search-input">
            <input type="text" placeholder="Search" />
            <span class="clear" tabindex="0"></span>
        </div>
        <div class="search-results">
            {% include '_voting_blocks_results.html' %}
        </div>
    </div>
    <div class="own">
        <a class="btn btn-green btn-large create" href="{% url 'main:voting_blocks_create' %}"><i class="icon-plus"></i> Create Voting Block</a>
        <p>(Before you create a new voting block, make sure one doesn’t exist already)</p>
        {% if my_voting_blocks %}
        <h2>My voting blocks</h2>
        <ul>
            {% for mvb in my_voting_blocks %}
            <li class="cf">
                <p class="name">{{ forloop.counter}}. <a href="{% url 'main:voting_blocks_item' id=mvb.id %}">{{ mvb.name }}</a></p>
                <p class="count">({{ mvb.votingblockmember_set.count }} members)</p>
                {% thumbnail mvb.icon 56x56 crop as imgsrc %}
                <img src="{% if imgsrc %}{{ imgsrc }}{% else %}{% static 'img/voting-block-56x56.png' %}{% endif %}">
                <p class="description">{{ mvb.description }}</p>
            </li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>


</div>
{% endblock %}

{% block scripts %}
<script>
    SEARCH_URL = '{% url "main:voting_blocks_search" %}';
</script>
<script src="{% static 'js/voting_blocks.js' %}"></script>
{% endblock %}
